<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<div class="easyui-layout width-percent100 height400" data-options="border:true,plain:true">
	<div class="width275" data-options="region:'east',title:'登陆日志',split:true">
		<table class="js-list-table-log"></table>
	</div>
	<div data-options="region:'center',title:'通知公告'">
		<table class="js-list-table-notice"></table>
	</div>
</div>
<script type="text/javascript">
$(function () {
	$('.js-list-table-log').datagrid({
		url : '${_base_.url("log", "listLogon")}',
		pagination : true,
		loadMsg : 'loading...',
		idField : 'id',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'operate_ip',title:'IP'},
			{field:'operate_time',title:'操作时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}}
		]],
		onBeforeLoad : function (param) {
			var $pager = $(this).datagrid('getPager');
			$pager.pagination({
				layout : ['first', 'prev', 'manual', 'next', 'last', 'sep', 'refresh'],
				displayMsg : ''
			});
		}
	});
	
	$('.js-list-table-notice').datagrid({
		url : '${_base_.url("notice", "listIndex")}',
		pagination : true,
		idField : 'id',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'title',title:'标题'},
			{field:'type_id',title:'分类',formatter:function (value, row, index) {
				return row.type_id_info ? row.type_id_info.name : row.type_id;
			}},
			{field:'create_id',title:'发布者',formatter:function (value, row, index) {
				if(!row.create_id_info) return '';
				return '[' + row.create_id_info.serial + ']' + row.create_id_info.name;
			}},
			{field:'update_time',title:'时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '<a href="javascript:void(0);" data-id="'
					+ row.id + '" data-type="show" class="js-notice-list-button" data-options="iconCls:\'icon-detail\'">查看</a>';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-notice-list-button').linkbutton({plain : true});
			$(this).datagrid('autoSizeColumn', 'operate');
			$('.js-notice-list-button[data-type="show"]').bind('click', function () {
				var url = '${_base_.url("notice", "read")}?id=' + $(this).data('id');
				parent.platformTab.add('通知查看', url, 'scroll-no', '_iframe');
			});
		}
	});
});
</script>