<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="easyui-datagrid listAction" url="${_BASE_.url("list")}" toolbar="#toolbar" pagination="true" rownumbers="true" fitcolumns="true" fit="true" border="false" singleselect="true" nowrap="true">
	<thead>
		<tr>
			<th field="name">名称</th>
			<th field="sort">排序</th>
			<th field="createTime">创建时间</th>
		</tr>
	</thead>
</table>
<div id="toolbar" class="controllerBar">
	[#if _BASE_.hasPermit("create")]<a href="javascript:void(0);" class="easyui-linkbutton createAction" iconcls="icon-add" plain="true">添加</a>[/#if]
	[#if _BASE_.hasPermit("modify")]<a href="javascript:void(0);" class="easyui-linkbutton modifyAction" iconcls="icon-edit" plain="true">修改</a>[/#if]
	[#if _BASE_.hasPermit("delete")]<a href="javascript:void(0);" class="easyui-linkbutton deleteAction" iconcls="icon-remove" plain="true">删除</a>[/#if]
	[#if _BASE_.hasPermit("Notice", "layout")]<a href="${_BASE_.url("notice", "layout")}" class="easyui-linkbutton" iconcls="icon-type" plain="true">内容管理</a>[/#if]
</div>

<div class="createActionDialog modifyActionDialog" style="width:230px;height:140px" data-options="buttons:'#actionButton',modal:true,resizable:true">
	<form class="createActionForm modifyActionForm" method="post" action=""></form>
</div>
<div id="actionButton">
	<a href="javascript:void(0);" class="easyui-linkbutton createActionOK modifyActionOK" data-options="iconCls:'icon-ok'">确定</a>
	<a href="javascript:void(0);" class="easyui-linkbutton createActionCancel modifyActionCancel" data-options="iconCls:'icon-cancel'">取消</a>
</div>
<textarea id="Template-List" class="hidden">
{#template MAIN}
<table align="center" class="table-horizontal tr-height25">
	<tr>
		<th>名称</th>
		<td>
			<input class="easyui-validatebox input-text width-percent100" type="text" name="noticeType.name" data-options="required:true" value="{$T.name}" />
		</td>
	</tr>
	<tr>
		<th>排序</th>
		<td>
			<input class="easyui-numberspinner input-text width-percent50" type="text" name="noticeType.sort" data-options="required:true,min:0" value="{$T.sort}" />
		</td>
	</tr>
</table>
{#/template MAIN}
</textarea>
<script>
$(function (){
	controllerBar.actions.beforeCreate = function (eventObject) {
		return {
			status : 0,
			message : {
				'sort' : 0
			}
		};
	}
});
</script>