<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<form id="submitForm" method="post" action="${_BASE_.url("save")}">
<input type="hidden" name="id" value="${info.id!0}" />
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">账号</th>
		<td><input class="easyui-textbox width200" type="text" name="serial" data-options="required:true" value="${(info.serial)!""}" /></td>
	</tr>
	<tr>
		<th>名称</th>
		<td><input class="easyui-textbox width200" type="text" name="name" data-options="required:true" value="${(info.name)!""}" /></td>
	</tr>
	<tr>
		<th>密码</th>
		<td><input class="easyui-textbox width200" type="password" name="password"[#if empty(info.id)] data-options="required:true"[/#if] value="" /></td>
	</tr>
	<tr>
		<th>部门</th>
		<td>
			<span class="js-organize-duty-text">${info.organize_rel_text!""}</span>
			<a href="javascript:void(0);" class="easyui-linkbutton js-organize-duty-pick" data-options="iconCls:'icon-pick',plain:true">选择部门</a>
			[#list info.organize_rel![] as organizeDuty]
			<input type="hidden" name="organizeDutyIds[]" class="js-organize-duty-ids" data-organize="${organizeDuty.organize_id}" data-duty="${organizeDuty.duty_id}" value="${organizeDuty.organize_id}-${organizeDuty.duty_id}" />
			[/#list]
		</td>
	</tr>
	<tr>
		<th>角色</th>
		<td><input name="roleIds[]" class="width200" value="" multiple /></td>
	</tr>
	<tr>
		<th>排序</th>
		<td><input class="easyui-numberspinner width150" type="text" name="sort" data-options="required:true,min:0" value="${(info.sort)!0}" /></td>
	</tr>
	<tr>
		<th>状态</th>
		<td>
			<select class="easyui-combobox" name="status" data-options="required:true,editable:false">
				[@getMapOption map=statusMap default=info.status!"" tips="请选择记录状态" /]
			</select>
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
$(function () {
	$('input[name="roleIds[]"]').combotree({
		cascadeCheck : false,
		required : true,
		url : '${_BASE_.url("role", "list")}',
		loadFilter : function (data, parent) {
			return Web_formatComboTree(data.rows, '${roleIds}'.split(','), null, 'name');
		}
	});
	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = Web_parseMessage(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_redirectPage('${_BASE_.url("layout")}');
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		if($submitForm.form('validate')) $submitForm.form('submit');
	});
	$('#buttonCancel').bind('click', function () {
		$submitForm.form('reset');
	});
});
</script>
<div class="hidden">
<div id="js-organize-duty-dialog" style="width:430px;height:400px" data-options="buttons:'#js-organize-duty-button',modal:true,resizable:true">
<table class="js-organize-duty-list-table"></table>
</div>
<div id="js-organize-duty-button">
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-ok" data-options="iconCls:'icon-ok'">确定</a>
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-cancel" data-options="iconCls:'icon-cancel'">取消</a>
</div>
<div id="js-organize-duty-toolbar">
	<a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-tip',plain:true"></a>
	对已勾选的部门，请设定用户在该部门的职务
</div>
</div>
<script type="text/javascript">
$(function () {
	var $organizeDutyDialog = $('#js-organize-duty-dialog');
	var bOrganizeDutyLoaded = false;
	$('.js-organize-duty-pick').bind('click', function () {
		var organizeDutyIds = {};
		$('.js-organize-duty-ids').each(function () {
			organizeDutyIds[$(this).data('organize')] = $(this).data('duty');
		});
		function doOrganizeDutyListCheck() {
			$('.js-organize-duty-list-table').treegrid('clearChecked');
			$('.js-pick-duty-id').combotree('setValue', '');
			for (var key in organizeDutyIds) {
				$('.js-organize-duty-list-table').treegrid('checkRow', key);
				$('.js-pick-duty-id[data-id="' + key + '"]').combotree('setValue', organizeDutyIds[key]);
			}
		}
		$organizeDutyDialog.dialog({
			title : '选择部门',
			iconCls : 'icon-pick',
			onOpen : function () {
				if(bOrganizeDutyLoaded) {
					doOrganizeDutyListCheck();
					return ;
				}
				bOrganizeDutyLoaded = true;
				$('.js-organize-duty-list-table').treegrid({
					url : '${_BASE_.url("organize", "list")}',
					idField : 'id',
					treeField : 'name',
					toolbar : '#js-organize-duty-toolbar',
					rownumbers : true,
					fitcolumns : true,
					fit : true,
					nowrap : true,
					singleSelect : true,
					checkOnSelect : false,
					selectOnCheck : false,
					columns:[[
						{field:'id',checkbox:true},
						{field:'id_text',title:'ID',formatter:function (value, row, index) {
							return row.id;
						}},
						{field:'name',title:'名称'},
						{field:'module',title:'职务',formatter:function (value, row, index) {
							return '<input data-id="' + row.id + '" class="js-pick-duty-id" value="" />';
						}}
					]],
					onLoadSuccess : function (row, data) {
						$('.js-pick-duty-id').combotree({
							url : '${_BASE_.url("duty", "list")}',
							loadFilter : function (data, parent) {
								return Web_formatComboTree(data.rows, [], '请选择职务', 'name');
							}
						});
						doOrganizeDutyListCheck();
					}
				});
			}
		});
	});
		
	$('#js-organize-duty-button').find('.js-control-ok').unbind('click.action').bind('click.action' ,function () {
		var rows = $('.js-organize-duty-list-table').treegrid('getChecked');
		var length = rows.length;
		var dutyMap = {};
		for (var i = 0; i < length; i++) {
			var row = rows[i];
			var dutyId = $('.js-pick-duty-id[data-id="' + row.id + '"]').combotree('getValue');
			var dutyText = $('.js-pick-duty-id[data-id="' + row.id + '"]').combotree('getText');
			if(!dutyId || "" == dutyId) {
				Web_alertInfo('请选择ID[' + row.id + ']对应的职务');
				return false;
			}
			dutyMap[row.id] = {
				name : row.name,
				dutyId : dutyId,
				dutyText : dutyText
			};
		}
		$('.js-organize-duty-ids').remove();
		var str = '';
		for (var key in dutyMap) {
			var html = '<input type="hidden" name="organizeDutyIds[]" class="js-organize-duty-ids"'
				+ ' data-organize="' + key + '" data-duty="' + dutyMap[key]['dutyId']
				+ '" value="' + key + '-' + dutyMap[key]['dutyId'] + '" />';
			$('.js-organize-duty-pick').parent().append(html);
			str += dutyMap[key]['name'] + '[' + dutyMap[key]['dutyText'] + '],';
		}
		$('.js-organize-duty-text').text(Web_trim(str, ','));
		$organizeDutyDialog.dialog('close');
	});
	$('#js-organize-duty-button').find('.js-control-cancel').unbind('click.action').bind('click.action' ,function () {
		$organizeDutyDialog.dialog('close');
	});
});
</script>