<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="js-list-table"></table>
<div id="toolbar">
	[#if _base_.hasPermit("edit")]<a href="${_base_.url("edit")}" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>[/#if]
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-search" data-options="iconCls:'icon-search',plain:true">搜索</a>
</div>
<script type="text/javascript">
$(function () {
	$('.js-list-table').datagrid({
		url : '${_base_.url("list")}',
		pagination : true,
		idField : 'id',
		toolbar : '#toolbar',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',checkbox:true},
			{field:'show_id',title:'ID',formatter:function (value, row, index) {
				return row.id;
			}},
			{field:'serial',title:'账号'},
			{field:'name',title:'名称'},
			{field:'sort',title:'排序'},
			{field:'status_text',title:'状态'},
			{field:'organize_info_text',title:'所在部门[职务]'},
			{field:'role_info_text',title:'拥有角色'},
			{field:'active_time',title:'最后活动时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'active_ip',title:'最后活动IP'},
			{field:'create_ip',title:'注册IP'},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '[#if _base_.hasPermit("show")]<a href="${_base_.url("show")}?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-detail\'">查看</a>[/#if]'
					+ '[#if _base_.hasPermit("edit")]<a href="${_base_.url("edit")}?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-edit\'">修改</a>[/#if]'
					+ '[#if _base_.hasPermit("delete")]<a href="${_base_.url("delete")}?ids[]='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-remove\'">删除</a>[/#if]';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-button').linkbutton({plain : true});
			$(this).datagrid('autoSizeColumn', 'operate');
		}
	});
	
	$('.js-control-delete').bind('click', function () {
		var ids = Web_getDatagridIdArray($('.js-list-table'), 'checked');
		var length = ids.length;
		if(length < 1) {
			Web_alertInfo('请选择要删除的记录！');
			return ;
		}
		for(var i = 0; i < length; i++) {
			ids[i] = 'ids[]=' + ids[i];
		}
		var url = '${_base_.url("delete")}?' + ids.join('&');
		Web_redirectPage(url);
	});
});
</script>
<div class="hidden">
<div id="js-search-dialog" style="width:462px;height:282px" data-options="buttons:'#js-search-button',modal:true,resizable:true">
<form id="searchForm" method="post" action="">
<table align="center" class="table-horizontal tr-height25">
	<tr>
		<th>账号</th>
		<td><input class="easyui-textbox width150" type="text" name="serial" value="" /></td>
		<th>名称</th>
		<td><input class="easyui-textbox width150" type="text" name="name" value="" /></td>
	</tr>
	<tr>
		<th>创建时间</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeStartCreate" value="" /></td>
		<th>～</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeEndCreate" value="" /></td>
	</tr>
	<tr>
		<th>修改时间</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeStartModify" value="" /></td>
		<th>～</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeEndModify" value="" /></td>
	</tr>
	<tr>
		<th>活动时间</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeStartActive" value="" /></td>
		<th>～</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeEndActive" value="" /></td>
	</tr>
	<tr>
		<th>注册IP</th>
		<td><input class="easyui-textbox width150" type="text" name="createIp" value="" /></td>
		<th>活动IP</th>
		<td><input class="easyui-textbox width150" type="text" name="activeIp" value="" /></td>
	</tr>
	<tr>
		<th>部门</th>
		<td><input class="width150" type="text" name="organizeIds[]" multiple value="" /></td>
		<th>职务</th>
		<td><input class="width150" type="text" name="dutyId" value="" /></td>
	</tr>
	<tr>
		<th>角色</th>
		<td><input class="width150" type="text" name="roleIds[]" multiple value="" /></td>
		<th>状态</th>
		<td>
			<select class="easyui-combobox" name="status" data-options="editable:false">
				[@getMapOption map=statusMap default="" tips="全部" /]
			</select>
		</td>
	</tr>
</table>
</form>
</div>
<div id="js-search-button">
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-ok" data-options="iconCls:'icon-search'">搜索</a>
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-cancel" data-options="iconCls:'icon-cancel'">取消</a>
</div>
</div>
<script type="text/javascript">
$(function () {
	$('input[name="typeId"]').combotree({
		checkbox : true,
		url : '${_base_.url("noticeType", "list")}',
		loadFilter : function (data, parent) {
			return Web_formatComboTree(data.rows, [], '请选择所属类型', 'name');
		}
	});
	var $searchDialog = $('#js-search-dialog');
	var bSearchLoaded = false;
	$('.js-control-search').bind('click', function () {
		$searchDialog.dialog({
			title : '筛选条件',
			iconCls : 'icon-search',
			onOpen : function () {
				if(bSearchLoaded) return ;
				bSearchLoaded = true;
				$('input[name="organizeIds[]"]').combotree({
					cascadeCheck : false,
					url : '${_base_.url("organize", "list")}',
					loadFilter : function (data, parent) {
						return Web_formatComboTree(data.rows, [], null, 'name');
					}
				});
				$('input[name="roleIds[]"]').combotree({
					cascadeCheck : false,
					url : '${_base_.url("role", "list")}',
					loadFilter : function (data, parent) {
						return Web_formatComboTree(data.rows, [], null, 'name');
					}
				});
				$('input[name="dutyId"]').combotree({
					url : '${_base_.url("duty", "list")}',
					loadFilter : function (data, parent) {
						return Web_formatComboTree(data.rows, [], null, 'name');
					}
				});
			}
		});
	});
	$('#js-search-button').find('.js-control-ok').unbind('click.action').bind('click.action' ,function () {
		$('.js-list-table').datagrid('load', $('#searchForm').form('getData'));
		$searchDialog.dialog('close');
	});
	$('#js-search-button').find('.js-control-cancel').unbind('click.action').bind('click.action' ,function () {
		$searchDialog.dialog('close');
	});
});
</script>