[#include "../public/header.inc.htm"]
<div id="login" class="easyui-dialog" title="用户登录" minimizable="false" maximizable="false" closable="false" style="width:260px;height:140px" data-options="buttons:'#actionButton',modal:true">
	<form id="submitForm" method="post" action="${_BASE_.url("logon")}">
	<input type="hidden" name="forward" value="${forward}" />
		<table align="center" class="table-horizontal tr-height25">
			<tr>
				<th>账号</th>
				<td>
					<input class="easyui-textbox width150" type="text" name="serial" data-options="required:true,iconCls:'icon-man'" />
				</td>
			</tr>
			<tr>
				<th>密码</th>
				<td>
					<input class="easyui-textbox width150" type="password" name="password" data-options="required:true,iconCls:'icon-lock'" />
				</td>
			</tr>
		</table>
	</form>
</div>
<div id="actionButton">
	[#if !empty(serial)]<a href="${_WEB_URL_}/guest" class="easyui-linkbutton" data-options="iconCls:'icon-tip'">访客模式</a>[/#if]
	<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">登录</a>
	<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">重置</a>
</div>
<script type="text/javascript">
$(function () {
	var $submitForm = $('#submitForm');
	$submitForm.form({
		onSubmit : function () {},
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		if($submitForm.form('validate')) {
			$submitForm.form('submit');
		}
	});
	$('#buttonCancel').bind('click', function () {
		$submitForm.form('reset');
	});
});
</script>
[#include "../public/footer.inc.htm"]