[#include "../public/header.inc.htm"]
<div id="platform" class="easyui-layout" data-options="fit:true,border:true,plain:true">
	<div id="platform-north" data-options="region:'north',split:true,plain:true" class="bg-color-default">
		<div class="left">${_WEB_NAME_}</div>
		<div class="right">
			<ul>
				<li>${currentMember.name}</li>
				<li class="splite">|</li>
				<li><a href="${_BASE_.url("logout")}">安全退出</a></li>
			</ul>
		</div>
	</div>
	<div id="platform-south" data-options="region:'south',split:true,plain:true" class="bg-color-default">
		<div class="text">
			Copyright &copy; 2010 - ${.now?string("yyyy")} <a href="http://www.iisquare.com/" target="_blank">iisquare.com</a> All Rights Reserved
		</div>
	</div>
	<div id="platform-west" data-options="region:'west',split:true,plain:true" title="系统菜单" class="bg-color-default">
		<div id="platform-west-accordion" class="easyui-accordion" data-options="fit:true,border:false,plain:true"></div>
	</div>
	<div id="platform-center" data-options="region:'center',split:true,plain:true" class="bg-color-default">
		<div id="platformTabs" data-options="fit:true,border:false,plain:true">
			<div title="欢迎使用" class="scroll-no"><iframe scrolling="auto" frameborder="0" src="${_BASE_.url("index", "task")}" class="full-w-h"></iframe></div>
		</div>
	</div>
</div>
<div id="platformTabsMenu">
	<div data-options="name:'refreshCurrent'">刷新当前页</div>
	<div data-options="name:'closeCurrent'">关闭当前页</div>
	<div class="menu-sep"></div>
	<div data-options="name:'closeLeft'">关闭左侧页</div>
	<div data-options="name:'closeRight'">关闭右侧页</div>
	<div data-options="name:'closeOther'">关闭其他页</div>
	<div data-options="name:'closeAll'">关闭全部页</div>
	<div class="menu-sep"></div>
	<div data-options="name:'cancel'">取&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;消</div>
</div>
<script type="text/javascript">
/* Comming tools Start */
var platformTab = {};
$(function () {
	// Attributes
	var platformTabsContextMenuIndex = -1;
	
	var $platformTabs = $('#platformTabs');
	var $platformTabsMenu = $('#platformTabsMenu');
	
	/* Events for Platform Start */
	platformTab = {
		add : function (title, url, className, goal) { // add tab page
			if(Web_empty(url)) return ;
			var bInFrame = true;
			switch (goal) {
				case '_self' : // 当前页打开
					window.location.href = url;
					return ;
				break;
				case '_blank' : // 新窗口打开
					window.open(url);
					return ;
				break;
				case '_tab' : // Tab内容打开
					bInFrame = false;
				break;
				case '_iframe' : // Tab框架打开
				break;
				default :
					return ;
			}
			var tabs = $platformTabs.tabs('tabs');
			for (var i = 0; i < tabs.length; i++) { // select tab when it exists
				var tab = tabs[i][0];
				if(url == tab.id) {
					$platformTabs.tabs('select', $platformTabs.tabs('getTabIndex', tab));
					return ;
				}
			}
			if(bInFrame) {
				$platformTabs.tabs('add',{
					id : url,
					title : title,
					content : '<iframe name="platformIFrame" scrolling="auto" frameborder="0" src="'
							+ url + '" class="full-w-h"></iframe>',
					closable : true
				});
			} else {
				$platformTabs.tabs('add',{
					id : url,
					title : title,
					href : url,
					closable : true
				});
			}
			if(className && className.length > 0) {
				var tabs = $platformTabs.tabs('tabs');
				var lastTab = tabs[tabs.length - 1];
				lastTab.addClass(className);
				$platformTabs.tabs('resize');
			}
		},
		selectMenuTab : function () {
			$platformTabs.tabs('select', platformTabsContextMenuIndex);
		},
		closeCurrent : function () {
			$platformTabs.tabs('close', $platformTabs.tabs('getTabIndex', $platformTabs.tabs('getSelected')));
		}
	};
	
	$platformTabs.tabs({ // bind tab context menu
		onContextMenu : function (e, title, index) {
			platformTabsContextMenuIndex = index;
			if(index > 0) {
				$platformTabsMenu.menu('show', {
					left: e.pageX,
					top: e.pageY
				});
			}
			e.stopPropagation();
			e.preventDefault();
			return false;
		}
	});
	
	$platformTabsMenu.menu({ // tab context menu events
		onClick : function (item) {
			var menuClickedIndex = item.name;
			switch (menuClickedIndex) {
				case 'refreshCurrent' : // 刷新当前页
					platformTab.selectMenuTab();
					var tab = $platformTabs.tabs('getTab', platformTabsContextMenuIndex);
					tab.panel('refresh');
				break;
				case 'closeCurrent' : // 关闭当前页
					$platformTabs.tabs('close', platformTabsContextMenuIndex);
				break;
				case 'closeLeft' : // 关闭左侧页
					for (var i = platformTabsContextMenuIndex - 1; i > 0; i--) {
						$platformTabs.tabs('close', i);
					}
				break;
				case 'closeRight' : // 关闭右侧页
					var length = $platformTabs.tabs('tabs').length;
					for (var i = length - 1; i > platformTabsContextMenuIndex; i--) {
						$platformTabs.tabs('close', i);
					}
				break;
				case 'closeOther' : // 关闭其他页
					platformTab.selectMenuTab();
					var length = $platformTabs.tabs('tabs').length;
					for (var i = length - 1; i > 0; i--) {
						if(i != platformTabsContextMenuIndex) {
							$platformTabs.tabs('close', i);
						}
					}
				break;
				case 'closeAll' : // 关闭全部页
					var length = $platformTabs.tabs('tabs').length;
					for (var i = length - 1; i > 0; i--) {
						$platformTabs.tabs('close', i);
					}
				break;
			}
		}
	});
	/* Events for Platform End */
	$.get(Web_projectUrl + '/base/menu/listSelf', {}, function (data) {
		var $platformWestAccordion = $('#platform-west-accordion');
		var length = data.length;
		for (var i = 0; i < length; i++) {
			var row = data[i];
			var html = '<ul class="js-platform-menu-tree" data-id="' + row.id + '" data-options="lines:true"></ul>';
			$platformWestAccordion.accordion('add', {
				title : row.text,
				content : html,
				selected : false
			});
			$('.js-platform-menu-tree[data-id="' + row.id + '"]').tree({
				data : row.children,
				onClick : function (node) {
					if(typeof node.text == "undefined") return ;
					platformTab.add(node.text, node.fullUrl, '_iframe' == node.goal ? 'scroll-no' : '', node.goal);
				}
			});
		}
		$platformWestAccordion.accordion('select', 0); // 展开第一项
	}, 'json');
});
/* Comming tools End */
</script>
[#include "../public/footer.inc.htm"]