<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">账号</th>
		<td>${(info.serial)!""}</td>
	</tr>
	<tr>
		<th>名称</th>
		<td>${(info.name)!""}</td>
	</tr>
	<tr>
		<th>部门</th>
		<td>${(info.organize_info_text)!""}</td>
	</tr>
	<tr>
		<th>角色</th>
		<td>${(info.role_info_text)!""}</td>
	</tr>
	<tr>
		<th>活动时间</th>
		<td>${millisToDateTime(info.active_time)}</td>
	</tr>
	<tr>
		<th>活动IP</th>
		<td>${(info.active_ip)!""}</td>
	</tr>
	<tr>
		<th>注册时间</th>
		<td>${millisToDateTime(info.create_time)}</td>
	</tr>
	<tr>
		<th>注册IP</th>
		<td>${(info.create_ip)!""}</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			[#if _base_.hasPermit("editSelf")]<a href="${_base_.url("editSelf")}" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>[/#if]
			<a href="javascript:void(0);" class="easyui-linkbutton js-tab-close-current" data-options="iconCls:'icon-cancel',plain:true">关闭</a>
		</td>
	</tr>
</table>
<script type="text/javascript">
$(function () {
	$('.js-tab-close-current').bind('click', function () {
		parent.platformTab.closeCurrent();
	});
});
</script>