<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="easyui-datagrid listAction" url="[@url action="list" /]" toolbar="#toolbar" pagination="true" rownumbers="true" fitcolumns="true" fit="true" border="false" singleselect="true" nowrap="true">
	<thead>
		<tr>
			<th field="href">文件</th>
			<th field="file">位置</th>
			<th field="author">作者</th>
			<th field="createTime">创建时间</th>
		</tr>
	</thead>
</table>
<div id="toolbar" class="controllerBar">
	<a id="buttonShow" href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-detail" plain="true">查看</a>
	[#if _BASE_.hasPermit("delete")]<a href="javascript:void(0);" class="easyui-linkbutton deleteAction" iconcls="icon-remove" plain="true">删除</a>[/#if]
</div>
<script>
$(function () {
	$('#buttonShow').bind('click', function () {
		var id = Web_getDataGridRowId($('.listAction'));
		if(-1 == id) return ;
		var row = $('.listAction').datagrid('getSelected');
		Web_openPage(row.url);
	});
});
</script>