<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<script src="${_WEB_URL_}/api/KindEditor/kindeditor-all-min.js" language="javascript"></script>
<form id="submitForm" method="post" action="[@url action="save" /]">
<input type="hidden" name="id" value="${info.id!0}" />
<table cellspacing="1" cellpadding="0" class="table-line td-left">
	<tr>
		<th class="width130">名称</th>
		<td><input class="easyui-textbox width250" type="text" name="name" data-options="required:true" value="${(info.name)!""}" /></td>
	</tr>
	<tr>
		<th class="width130">模块</th>
		<td><input class="easyui-textbox width150" type="text" name="module" data-options="required:true" value="${(info.module)!""}" /></td>
	</tr>
	<tr>
		<th class="width130">控制器</th>
		<td><input class="easyui-textbox width150" type="text" name="controller" data-options="required:true" value="${(info.controller)!""}" /></td>
	</tr>
	<tr>
		<th class="width130">方法</th>
		<td><input class="easyui-textbox width150" type="text" name="action" data-options="required:true" value="${(info.action)!""}" /></td>
	</tr>
	<tr>
		<th class="width130">引用</th>
		<td><input class="easyui-numberspinner width150" type="text" name="referId" data-options="required:true,min:0" value="${(info.referId)!0}" /></td>
	</tr>
	<tr>
		<th class="width130">排序</th>
		<td><input class="easyui-numberspinner width150" type="text" name="sort" data-options="required:true,min:0" value="${(info.sort)!0}" /></td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
</form>
<script>
$(function () {
	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		if($submitForm.form('validate')) {
			$submitForm.form('submit');
		}
	});
	$('#buttonCancel').bind('click', function () {
		$submitForm.form('reset');
	});
});
</script>