<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="easyui-datagrid listAction" url="[@url action="list" /]" toolbar="#toolbar" rownumbers="true" fitcolumns="true" fit="true" border="false" singleselect="true" nowrap="true">
	<thead>
		<tr>
			<th field="fileName">名称</th>
			<th field="lastModified">备份时间</th>
		</tr>
	</thead>
</table>
<div id="toolbar" class="controllerBar">
	[#if _BASE_.hasPermit("backup")]<a id="buttonBackup" href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-add" plain="true">备份</a>[/#if]
	[#if _BASE_.hasPermit("revert")]<a id="buttonRevert" href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-reload" plain="true">还原</a>[/#if]
	[#if _BASE_.hasPermit("delete")]<a href="javascript:void(0);" class="easyui-linkbutton deleteAction" iconcls="icon-remove" plain="true">删除</a>[/#if]
</div>
<script>
$(function (){
	controllerBar.actions.beforeDelete = function (eventObject) {
		var id = Web_getDataGridRowId($('.listAction'));
		if(-1 == id) return ;
		return Web_url('delete') + '?path=' + id; // 获取删除路径
	}
	$('#buttonBackup').bind('click', function () {
		var url = '[@url action="backup" /]';
		$.getJSON(url, function(data) {
			Web_alertInfo(data.message, function () {
				if(!data.status) $('.listAction').datagrid('reload');
			});
		});
	});
	$('#buttonRevert').bind('click', function () {
		var id = Web_getDataGridRowId($('.listAction'));
		if(-1 == id) return ;
		var url = '[@url action="revert" /]?path=' + id;
		$.getJSON(url, function(data) {
			Web_alertInfo(data.message);
		});
	});
});
</script>