<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="js-list-table"></table>
<div id="toolbar">
	[#if _base_.hasPermit("delete")]<a href="javascript:void(0);" class="easyui-linkbutton js-control-delete" data-options="iconCls:'icon-remove',plain:true">批量删除</a>[/#if]
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-search" data-options="iconCls:'icon-search',plain:true">搜索</a>
</div>
<script type="text/javascript">
$(function () {
	$('.js-list-table').datagrid({
		url : '${_base_.url("list")}',
		pagination : true,
		idField : 'id',
		toolbar : '#toolbar',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',checkbox:true},
			{field:'show_id',title:'ID',formatter:function (value, row, index) {
				return row.id;
			}},
			{field:'operate_id',title:'操作者',formatter:function (value, row, index) {
				if(!row.operate_id_rel) return '';
				return '[' + row.operate_id_rel.serial + ']' + row.operate_id_rel.name;
			}},
			{field:'operate_ip',title:'IP'},
			{field:'operate_time',title:'操作时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'name',title:'名称'},
			{field:'uri',title:'位置'},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '<a href="' + Web_projectUrl + '/' + row.uri + '" class="js-list-button" data-options="iconCls:\'icon-detail\'" target="_blank">查看</a>';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-button').linkbutton({plain : true});
			$(this).datagrid('autoSizeColumn', 'operate');
		}
	});
});
</script>
<div class="hidden">
<div id="js-search-dialog" style="width:255px;height:255px" data-options="buttons:'#js-search-button',modal:true,resizable:true">
<form id="searchForm" method="post" action="">
<table align="center" class="table-horizontal tr-height25">
	<tr>
		<th>开始时间</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeStart" value="" /></td>
	</tr>
	<tr>
		<th>结束时间</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeEnd" value="" /></td>
	</tr>
	<tr>
		<th>名称</th>
		<td><input class="easyui-textbox width150" type="text" name="url" value="" /></td>
	</tr>
	<tr>
		<th>URI</th>
		<td><input class="easyui-textbox width150" type="text" name="uri" value="" /></td>
	</tr>
	<tr>
		<th>操作账号</th>
		<td><input class="easyui-textbox width150" type="text" name="serial" value="" /></td>
	</tr>
	<tr>
		<th>操作IP</th>
		<td><input class="easyui-textbox width150" type="text" name="operateIp" value="" /></td>
	</tr>
</table>
</form>
</div>
<div id="js-search-button">
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-ok" data-options="iconCls:'icon-search'">搜索</a>
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-cancel" data-options="iconCls:'icon-cancel'">取消</a>
</div>
</div>
<script type="text/javascript">
$(function () {
	var $searchDialog = $('#js-search-dialog');
	$('.js-control-search').bind('click', function () {
		$searchDialog.dialog({
			title : '筛选条件',
			iconCls : 'icon-search'
		});
	});
		
	$('#js-search-button').find('.js-control-ok').unbind('click.action').bind('click.action' ,function () {
		$('.js-list-table').datagrid('load', $('#searchForm').form('getData'));
		$searchDialog.dialog('close');
	});
	$('#js-search-button').find('.js-control-cancel').unbind('click.action').bind('click.action' ,function () {
		$searchDialog.dialog('close');
	});
});
</script>
<div id="js-process-dialog" style="width:405px;height:250px" data-options="toolbar:'#js-process-toolbar',modal:true,resizable:true">
	<table class="easyui-datagrid js-process-list" data-options="rownumbers:true,fitcolumns:true">
	<thead>
		<tr>
			<th data-options="field:'id'">ID</th>
			<th data-options="field:'message'">结果</th>
		</tr>
	</thead>
	</table>
</div>
<div id="js-process-toolbar">
	<div class="easyui-progressbar js-process-bar" data-options="value:0" style="width:380px"></div>
</div>
<script type="text/javascript">
$(function () {
	var $processDialog = $('#js-process-dialog');
	var $processList = $('.js-process-list');
	var $processBar = $('.js-process-bar');
	
	var bProcessing = false;
	function process(index, rows) {
		if(!bProcessing) return false;
		var length = rows.length;
		if(index >= length) return true;
		var row = rows[index];
		$.post('${_base_.url("delete")}', {
			id : row.id
		}, function (data) {
			index++;
			$processList.datagrid('appendRow', {
				id : row.id,
				message : data.message
			});
			$processList.datagrid('autoSizeColumn');
			$processBar.progressbar('setValue', index / length * 100);
			process(index, rows);
		}, 'json');
	}
	
	$('.js-control-delete').bind('click', function () {
		$processList.datagrid('loadData', []);
		$processBar.progressbar('setValue', 0);
		var rows = $('.js-list-table').datagrid('getChecked');
		if(rows.length < 1) {
			Web_alertInfo('请选择需要操作的记录');
			return false;
		}
		$processDialog.dialog({
			title : '处理进度',
			iconCls : 'icon-tip',
			onOpen : function () {
				bProcessing = true;
				process(0, rows);
			},
			onClose : function () {
				bProcessing = false;
				$('.js-list-table').datagrid('reload');
			}
		});
	});
});
</script>