<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="js-list-table"></table>
<div id="toolbar">
	[#if _BASE_.hasPermit("create")]<a href="javascript:void(0);" class="easyui-linkbutton js-control-add" data-options="iconCls:'icon-add',plain:true">添加</a>[/#if]
	<a href="[@url controller="icon" action="layout" /]" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回列表</a>
</div>
<script>
$(function () {
	$('.js-list-table').treegrid({
		url : '[@url action="list" /]',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		columns:[[
			{field:'id',title:'ID'},
			{field:'name',title:'名称'},
			{field:'sort',title:'排序'},
			{field:'status_text',title:'状态'},
			{field:'create_id',title:'创建者',formatter:function (value, row, index) {
				if(!row.create_id_rel) return '';
				return '[' + row.create_id_rel.serial + ']' + row.create_id_rel.name;
			}},
			{field:'create_time',title:'创建时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'update_id',title:'修改者',formatter:function (value, row, index) {
				if(!row.update_id_rel) return '';
				return '[' + row.update_id_rel.serial + ']' + row.update_id_rel.name;
			}},
			{field:'update_time',title:'修改时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '[#if _BASE_.hasPermit("modify")]<a href="[@url action="edit" /]?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-edit\'">修改</a>[/#if]'
					+ '[#if _BASE_.hasPermit("delete")]<a href="[@url action="delete" /]?ids='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-remove\'">删除</a>[/#if]'
					+ '[#if _BASE_.hasPermit("editPower")]<a href="[@url controller="icon" action="layout" /]?parent_id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-key\'">下属列表</a>[/#if]';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-button').linkbutton({
				plain : true
			});
			$('.js-list-table').datagrid('autoSizeColumn');
		}
	});
	
	$('.js-control-add').bind('click', function () {
		var row = $('.js-list-table').treegrid('getSelected');
		var parentId = 0;
		if(null != row) {
			parentId = row.id;
		}
		var url = '[@url action="edit" /]?parentId=' + parentId;
		Web_redirectPage(url);
	});
});
</script>