<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">名称</th>
		<td>${info.name}</td>
	</tr>
	<tr>
		<th>设置</th>
		<td class="td-clear">
			<div class="easyui-layout height500" data-options="fit:true,border:true,plain:true">
				<div data-options="region:'west',split:true" class="width550">
					<table class="js-list-table-resource"></table>
					<div id="toolbar-resource">权限</div>
				</div>
				<div data-options="region:'center'">
					<table class="js-list-table-menu"></table>
					<div id="toolbar-menu">菜单</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
<script type="text/javascript">
$(function () {
	$('.js-list-table-resource').treegrid({
		url : '${_BASE_.url("resource", "list")}?no_refer=1',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar-resource',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',checkbox:true},
			{field:'show_id',title:'ID',formatter:function (value, row, index) {
				return row.id;
			}},
			{field:'name',title:'名称'},
			{field:'status_text',title:'状态'},
			{field:'module',title:'模块'},
			{field:'controller',title:'控制器'},
			{field:'action',title:'方法'}
		]],
		onLoadSuccess : function (data) {
			var ids = '${resourceIds}'.split(',');
			for (var key in ids) {
				if(!Web_empty(ids[key])) $(this).treegrid('checkRow', ids[key]);
			}
			$(this).treegrid('autoSizeColumn');
		}
	});
	$('.js-list-table-menu').treegrid({
		url : '${_BASE_.url("menu", "list")}',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar-menu',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',checkbox:true},
			{field:'show_id',title:'ID',formatter:function (value, row, index) {
				return row.id;
			}},
			{field:'name',title:'名称'},
			{field:'status_text',title:'状态'},
			{field:'target_text',title:'打开方式'},
			{field:'url',title:'地址'}
		]],
		onLoadSuccess : function (data) {
			var ids = '${menuIds}'.split(',');
			for (var key in ids) {
				if(!Web_empty(ids[key])) $(this).treegrid('checkRow', ids[key]);
			}
			$(this).treegrid('autoSizeColumn');
		}
	});
	
	$('#buttonOk').bind('click', function () {
		$.post('${_BASE_.url("savePower")}', {
			id : '${info.id}',
			resourceIds : Web_getDatagridIdArray($('.js-list-table-resource'), 'checked'),
			menuIds : Web_getDatagridIdArray($('.js-list-table-menu'), 'checked')
		}, function (data) {
			data = Web_parseMessage(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_redirectPage('${_BASE_.url("layout")}');
			}
		});
	});
});
</script>