<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<script type="text/javascript" src="${_WEB_URL_}/api/KindEditor/kindeditor.custom.all.min.js"></script>
<form id="submitForm" method="post" action="${_BASE_.url("save")}">
<input type="hidden" name="id" value="${info.id!0}" />
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">标题</th>
		<td><input class="easyui-textbox width250" type="text" name="title" data-options="required:true" value="${(info.title)!""}" /></td>
	</tr>
	<tr>
		<th>排序</th>
		<td><input class="easyui-numberspinner width150" type="text" name="sort" data-options="required:true,min:0" value="${(info.sort)!0}" /></td>
	</tr>
	<tr>
		<th>类型</th>
		<td><input name="typeId" class="js-select-type width250" value="${info.typeId!0}" /></td>
	</tr>
	<tr>
		<th>状态</th>
		<td>
			<select class="easyui-combobox" name="status" data-options="required:true,editable:false">
				[@getMapOption map=statusMap default=info.status!"" tips="请选择记录状态" /]
			</select>
		</td>
	</tr>
	<tr>
		<th>内容</th>
		<td><textarea name="content" class="w668h280">${(info.content)!""}</textarea></td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
$(function () {
	$('input[name="typeId"]').combotree({
		url : '${_BASE_.url("noticeType", "list")}',
		loadFilter : function (data, parent) {
			return Web_formatComboTree(data.rows, [], '请选择所属类型', 'name');
		}
	});
	var editor = KindEditor.create('textarea[name="content"]');
	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		$('textarea[name="content"]').html(editor.html());
		if($submitForm.form('validate')) $submitForm.form('submit');
	});
	$('#buttonCancel').bind('click', function () {
		$submitForm.form('reset');
	});
});
</script>