<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="listAction" url="${_BASE_.url("list")}" toolbar="#toolbar" pagination="true" rownumbers="true" fitcolumns="true" fit="true" border="false" singleselect="true" nowrap="true">
	<thead>
		<tr>
			<th field="title">标题</th>
			<th field="type">类型</th>
			<th field="author">作者</th>
			<th field="status">状态</th>
			<th field="sort">排序</th>
			<th field="createTime">发布时间</th>
		</tr>
	</thead>
</table>
<div id="toolbar" class="controllerBar">
	[#if _BASE_.hasPermit("show")]<a id="buttonShow" href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-detail" plain="true">查看</a>[/#if]
	[#if _BASE_.hasPermit("create")]<a href="${_BASE_.url("create")}" class="easyui-linkbutton" iconcls="icon-add" plain="true">添加</a>[/#if]
	[#if _BASE_.hasPermit("modify")]<a id="buttonModify" href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>[/#if]
	[#if _BASE_.hasPermit("delete")]<a href="javascript:void(0);" class="easyui-linkbutton deleteAction" iconcls="icon-remove" plain="true">删除</a>[/#if]
	[#if _BASE_.hasPermit("NoticeType", "layout")]<a href="${_BASE_.url("noticeType", "layout")}" class="easyui-linkbutton" iconcls="icon-type" plain="true">类型管理</a>[/#if]
	<div class="float-right margin-right5">
		<div class="leftOfSerchBox">状态：
		<input type="radio" name="read" value="-1" />全部
		<input type="radio" name="read" value="0" checked="checked" />未读
		<input type="radio" name="read" value="1" />已读</div>
		<input id="searchBox"></input>
	</div>
	<div id="searchMenu">
		[@getSearchOptionList seq=noticeType tips="全部类型" /]
	</div>
</div>
<script>
$(function () {
	$('#searchBox').searchbox({ 
		searcher:function(value, name){ 
			$('.listAction').datagrid('load', {
				id : name,
				read : $('input[name="read"]:checked').val(),
				title : value
			});
		}, 
		menu:'#searchMenu', 
		prompt:'请输入搜索内容'
	});
	$('.listAction').datagrid({
		onDblClickRow : function (rowIndex, rowData) {}
	});
	$('#buttonShow').bind('click', function () {
		var id = Web_getDataGridRowId($('.listAction'));
		if(-1 == id) return ;
		var url = '${_BASE_.url("show")}?back=1&id=' + id;
		var row = $('.listAction').datagrid('getSelected');
		parent.platformTab.add(row.titleText, url, 'padding2');
	});
	$('#buttonModify').bind('click', function () {
		var id = Web_getDataGridRowId($('.listAction'));
		if(-1 == id) return ;
		var url = '${_BASE_.url("modify")}?id=' + id;
		Web_redirectPage(url);
	});
});
</script>