[#include "../public/common.inc.htm"]
{
	"total":"${total}",
	"rows":[
		[#list rows as notice]
		{
			"id":"${notice.id}",
			"sort":"${notice.sort}",
			"title":"[#if _BASE_.hasPermit("show")]<a href=\"javascript:void(0);\" onclick=\"parent.platformTab.add('${notice.title}', '[@url action="show" /]?back=1&id=${notice.id}', 'padding2');\">${notice.title}</a>[#else]${notice.title}[/#if]",
			"titleText":"${notice.title}",
			"type":"${(notice.type.name)!""}",
			"author":"${(notice.author.name)!""}",
			"status":"${notice.getStatusText(currentMember.id)}",
			"createTime":"${millisToDateTime(notice.createTime)}"
		}[#if notice_has_next],[/#if]
		[/#list]
	]
}