<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<script src="${Web_projectHome}/api/KindEditor/kindeditor-all-min.js" language="javascript"></script>
[#if empty((notice.id)!0)]
<form id="submitForm" method="post" action="[@url action="insert" /]">
[#else]
<form id="submitForm" method="post" action="[@url action="update" /]">
<input type="hidden" name="id" value="${(notice.id)!0}" />
[/#if]
<table cellspacing="1" cellpadding="0" class="table-line td-left">
	<tr>
		<th class="width130">标题</th>
		<td>
			<input class="easyui-validatebox input-text width430" type="text" name="notice.title" data-options="required:true" value="${(notice.title)!""}" />
		</td>
	</tr>
	<tr>
		<th>排序</th>
		<td>
			<input class="easyui-numberspinner input-text" type="text" name="notice.sort" data-options="required:true,min:0" value="${(notice.sort)!0}" />
		</td>
	</tr>
	<tr>
		<th>类型</th>
		<td>
			<select id="role" class="easyui-combobox width200" data-options="editable:false" name="notice.type.id">
				[@getOptionList seq=type default=tid!0 tips="请选择类型" /]
			</select>
		</td>
	</tr>
	<tr>
		<th>对象</th>
		<td>默认全体成员可见</td>
	</tr>
	<tr>
		<th>组织</th>
		<td>
			<span class="showText">${(notice.organizeText)!""}</span>
			<a href="javascript:void(0);" class="easyui-linkbutton selectOrganize" iconcls="icon-edit" plain="true"></a>
			<input class="selectIds" type="hidden" name="notice.organizeIds" value="${(notice.organizeIds)!""}" />
			<input class="selectText" type="hidden" name="notice.organizeText" value="${(notice.organizeText)!""}" />
		</td>
	</tr>
	<tr>
		<th>角色</th>
		<td>
			<span class="showText">${(notice.roleText)!""}</span>
			<a href="javascript:void(0);" class="easyui-linkbutton selectRole" iconcls="icon-edit" plain="true"></a>
			<input class="selectIds" type="hidden" name="notice.roleIds" value="${(notice.roleIds)!""}" />
			<input class="selectText" type="hidden" name="notice.roleText" value="${(notice.roleText)!""}" />
		</td>
	</tr>
	<tr>
		<th>用户</th>
		<td>
			<span class="showText">${(notice.memberText)!""}</span>
			<a href="javascript:void(0);" class="easyui-linkbutton selectMember" iconcls="icon-edit" plain="true"></a>
			<input class="selectIds" type="hidden" name="notice.memberIds" value="${(notice.memberIds)!""}" />
			<input class="selectText" type="hidden" name="notice.memberText" value="${(notice.memberText)!""}" />
		</td>
	</tr>
	<tr>
		<th>排除</th>
		<td>
			<span class="showText">${(notice.exceptText)!""}</span>
			<a href="javascript:void(0);" class="easyui-linkbutton selectMember" iconcls="icon-edit" plain="true"></a>
			<input class="selectIds" type="hidden" name="notice.exceptIds" value="${(notice.exceptIds)!""}" />
			<input class="selectText" type="hidden" name="notice.exceptText" value="${(notice.exceptText)!""}" />
		</td>
	</tr>
	<tr>
		<th>内容</th>
		<td class="editor">
			<textarea name="notice.content" class="w668h280">${(notice.content)!""}</textarea>
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">重置</a>
		</td>
	</tr>
</table>
</form>
[#include "../Organize/select.inc.htm"]
[#include "../Role/select.inc.htm"]
[#include "../Member/select.inc.htm"]
<script>
$(function () {
	var contentEditor = KindEditor.create('textarea[name="notice.content"]');
	$('#submitForm').form({
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
				$('#buttonOk').linkbutton('enable');
			} else {
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		$('textarea[name="notice.content"]').html(contentEditor.html());
		$(this).linkbutton('disable');
		$('#submitForm').submit();
	});
	$('#buttonCancel').bind('click', function () {
		$('#submitForm')[0].reset();
	});
});
</script>