<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<#include "../public/common.inc.htm">
<#include "../public/resource.inc.htm">
<table cellspacing="1" cellpadding="0" class="lineTable tdLeft">
	<tr>
		<th class="width130">标题</th>
		<td>
			${(notice.title)!""}
		</td>
	</tr>
	<tr>
		<th>类型</th>
		<td>
			${(notice.type.name)!""}
		</td>
	</tr>
	<tr>
		<th>作者</th>
		<td>
			${(notice.author.name)!""}
		</td>
	</tr>
	<tr>
		<th>时间</th>
		<td>
			${millisToDateTime((notice.createTime)!0)}
		</td>
	</tr>
	<tr>
		<th>内容</th>
		<td>
			${(notice.content)!""}
		</td>
	</tr>
</table>