<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<div class="easyui-layout" data-options="fit:true,border:false,plain:true">
	<div class="width240" data-options="region:'west',split:true,border:false,plain:true" title="组织列表">
		<ul id="organizeTree" class="margin5" data-options="url:'[@url action="list" /]',lines:true"></ul>
	</div>
	<div data-options="region:'center',split:true,border:false,plain:true" class="padding-left2">
		<iframe id="organizeIFrame" scrolling="auto" frameborder="0" src="" class="full-w-h"></iframe>
	</div>
</div>
<div id="organizeMenu">
	[#if _BASE_.hasPermit("create")]<div data-options="name:'1'">添&nbsp;&nbsp;加</div>[/#if]
	[#if _BASE_.hasPermit("modify")]<div data-options="name:'2'">修&nbsp;&nbsp;改</div>[/#if]
	[#if _BASE_.hasPermit("delete")]<div data-options="name:'3'">删&nbsp;&nbsp;除</div>[/#if]
	<div class="menu-sep"></div>
	[#if _BASE_.hasPermit("move")]<div data-options="name:'4'">移&nbsp;&nbsp;动</div>[/#if]
	<div class="menu-sep"></div>
	<div data-options="name:'5'">取&nbsp;&nbsp;消</div>
</div>
<div class="moveActionDialog" style="width:320px; height:400px;" data-options="buttons:'#actionButton',modal:true,resizable:true">
	<ul id="organizeMoveTree" class="margin5" data-options="lines:true"></ul>
</div>
<div id="actionButton">
	<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
	<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
</div>
<script>
function loadIFrame(url) {
	$('#organizeIFrame').attr('src', url);
}
var contextMenuNode = null;
var romoveToNode = null;
$(function () {
	$('#organizeTree').tree({
		onClick : function (node) {
			var url = '[@url action="show" /]?id=' + node.id;
			loadIFrame(url);
		},
		onContextMenu : function (e, node) {
			contextMenuNode = node;
			e.preventDefault();
			$('#organizeTree').tree('select', node.target);
			$('#organizeMenu').menu('show', {
				left: e.pageX,
				top: e.pageY
			});
		}
	});
	
	$('#organizeMoveTree').tree({
		onClick : function (node) {
			romoveToNode = node;
		}
	});
	
	$('#organizeMenu').menu({
		onClick : function (item) {
			var menuClickedIndex = item.name;
			switch (menuClickedIndex) {
				case '1' : // 添加
					var url = '[@url action="create" /]?id=' + contextMenuNode.id;
					loadIFrame(url);
				break;
				case '2' : // 修改
					var url = '[@url action="modify" /]?id=' + contextMenuNode.id;
					loadIFrame(url);
				break;
				case '3' : // 删除
					var url = '[@url action="delete" /]?id=' + contextMenuNode.id;
					$.getJSON(url, function (data) {
						if(data.status) {
							Web_alertInfo(data.message);
						} else {
							var tab = window.parent.$('#platformTabs').tabs('getSelected');
							tab.panel('refresh');
						}
					});
				break;
				case '4' : // 移动
					romoveToNode = null;
					var rootNode = $('#organizeTree').tree('getRoot');
					if(rootNode.id == contextMenuNode.id) {
						Web_alertInfo('该组织不允许移动！');
						return ;
					}
					var data = new Array(1);
					data[0] = $('#organizeTree').tree('getData', rootNode.target);
					$('#organizeMoveTree').tree('loadData', data);
					var currentNode = $('#organizeMoveTree').tree('find', contextMenuNode.id);
					if(null == currentNode) {
						Web_alertInfo('请选择需要移动的组织！');
						return ;
					} else {
						$('#organizeMoveTree').tree('remove', currentNode.target);
						$('.moveActionDialog').dialog({
							title : '将[' + contextMenuNode.text + ']移动至：',
							iconCls : 'icon-edit'
						});
					}
				break;
			}
		}
	});

	$('#buttonOk').bind('click', function () {
		if(null == romoveToNode) {
			Web_alertInfo('请选择组织！');
			return ;
		}
		var url = '[@url action="move" /]?id=' + contextMenuNode.id + '&pid=' + romoveToNode.id;
		$(this).linkbutton('disable');
		$.getJSON(url, function (data) {
			if(data.status) {
				$('#buttonOk').linkbutton('enable');
				Web_alertInfo(data.message);
			} else {
				var tab = window.parent.$('#platformTabs').tabs('getSelected');
				tab.panel('refresh');
			}
		});
	});
	$('#buttonCancel').bind('click', function () {
		$('.moveActionDialog').dialog('close');
	});
});
</script>