<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<#include "../Public/common.inc.htm">
<#include "../Public/resource.inc.htm">
<#if empty((_ASSIGN_.organize.id)!0)>
<form id="submitForm" method="post" action="<@url action="insert" />">
<input type="hidden" name="organize.parent.id" value="${(_ASSIGN_.pid)!1}" />
<#else>
<form id="submitForm" method="post" action="<@url action="update" />">
<input type="hidden" name="id" value="${(_ASSIGN_.organize.id)!0}" />
</#if>
<table cellspacing="1" cellpadding="0" class="lineTable tdLeft">
	<tr>
		<th class="width130">名称</th>
		<td>
			<input class="easyui-validatebox inputText length200" type="text" name="organize.name" data-options="required:true" value="${(_ASSIGN_.organize.name)!""}" />
		</td>
	</tr>
	<tr>
		<th>排序</th>
		<td>
			<input class="easyui-numberspinner inputText lengthPercent50" type="text" name="organize.sort" data-options="required:true,min:0" value="${(_ASSIGN_.organize.sort)!0}" />
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">返回</a>
		</td>
	</tr>
</table>
</form>
<script>
$(function () {
	$('#submitForm').form({
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
				$('#buttonOk').linkbutton('enable');
			} else {
				var $organizeTree = window.parent.$('#organizeTree');
				$organizeTree.tree('reload');
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		$(this).linkbutton('disable');
		$('#submitForm').submit();
	});
	$('#buttonCancel').bind('click', function () {
		$('#submitForm')[0].reset();
	});
});
</script>