<#-- This page can be include only -->
<div class="hidden">
	<div id="selectOrganizeDialog" style="width:320px; height:400px;" data-options="buttons:'#selectOrganizeButton',modal:true,resizable:true">
		<ul id="selectOrganizeTree" class="easyui-tree margin5" data-options="checkbox:true,cascadeCheck:false,url:'<@url controller="Organize" action="list" />',lines:true"></ul>
	</div>
	<div id="selectOrganizeButton">
		<a id="buttonSelectOrganizeOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
		<a id="buttonSelectOrganizeCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
	</div>
</div>
<script>
$(function () {
	var $selectOrganizeTree = $('#selectOrganizeTree');
	$('.selectOrganize').bind('click', function () {
		var $showText = $(this).parent().find('.showText');
		var $selectIds = $(this).parent().find('.selectIds');
		var $selectText = $(this).parent().find('.selectText');
		var ids = $selectIds.val().split(',');
		for(var i = 0; i < ids.length; i++) {
			var id = ids[i];
			if(Web_empty(id)) continue ;
			var node = $selectOrganizeTree.tree('find', id);
			if(null == node) continue ;
			$selectOrganizeTree.tree('check', node.target);
		}
		$('#selectOrganizeDialog').dialog({
			title : '选择组织',
			iconCls : 'icon-edit'
		});
		$('#buttonSelectOrganizeOk').unbind('click.selectOrganize')
			.bind('click.selectOrganize', function () {
			var nodes = $selectOrganizeTree.tree('getChecked');
			var ids = '', text = '', size = nodes.length;
			for(var i = 0; i < size; i++) {
				var node = nodes[i];
				$selectOrganizeTree.tree('uncheck', node.target);
				ids += node.id + '';
				text += node.text + '';
				if(i + 1 < size) {
					ids += ',';
					text += ',';
				}
			}
			$showText.html(text);
			$selectIds.val(ids);
			$selectText.val(text);
			$('#selectOrganizeDialog').dialog('close');
		});
		$('#buttonSelectOrganizeCancel').unbind('click.selectOrganize')
			.bind('click.selectOrganize', function () {
			$('#selectOrganizeDialog').dialog('close');
		});
	});
});
</script>