[#-- This page is not used --]
[#include "../public/common.inc.htm"]
[{
	"text" : "个人事务",
	"children" : [{
		"text" : "个人信息",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("member", "self")}"
		}
	}, {
		"text" : "密码修改",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("member", "password")}"
		}
	}, {
		"text" : "通知公告",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("notice", "layout")}"
		}
	}, {
		"text" : "图标管理",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("icon", "layout")}"
		}
	}]
},{
	"text" : "基础设置",
	"children" : [{
		"text" : "用户管理",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("member", "layout")}"
		}
	}, {
		"text" : "组织管理",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("organize", "layout")}"
		}
	}, {
		"text" : "角色管理",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("Role", "layout")}"
		}
	}]
},{
	"text" : "系统管理",
	"children" : [{
		"text" : "环境状态",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("Server", "info")}"
		}
	}, {
		"text" : "参数设置",
		"children" : [{
			"text" : "默认参数",
			"attributes" : {
				"className" : "padding2",
				"url" : "${_BASE_.url("Setting", "defaultSetting")}"
			}
		}, {
			"text" : "运行参数",
			"attributes" : {
				"className" : "padding2",
				"url" : "${_BASE_.url("Setting", "layout")}"
			}
		}]
	}, {
		"text" : "备份还原",
		"attributes" : {
			"className" : "padding2",
			"url" : "${_BASE_.url("database", "layout")}"
		}
	}]
}]