<#-- This page is not used -->
<#include "../public/common.inc.htm">
[{
	"text" : "个人事务",
	"children" : [{
		"text" : "个人信息",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Member" action="self" />"
		}
	}, {
		"text" : "密码修改",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Member" action="password" />"
		}
	}, {
		"text" : "通知公告",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Notice" action="layout" />"
		}
	}, {
		"text" : "图标管理",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Icon" action="layout" />"
		}
	}]
},{
	"text" : "基础设置",
	"children" : [{
		"text" : "用户管理",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Member" action="layout" />"
		}
	}, {
		"text" : "组织管理",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Organize" action="layout" />"
		}
	}, {
		"text" : "角色管理",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Role" action="layout" />"
		}
	}]
},{
	"text" : "系统管理",
	"children" : [{
		"text" : "环境状态",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Server" action="info" />"
		}
	}, {
		"text" : "参数设置",
		"children" : [{
			"text" : "默认参数",
			"attributes" : {
				"className" : "padding2",
				"url" : "<@url controller="Setting" action="defaultSetting" />"
			}
		}, {
			"text" : "运行参数",
			"attributes" : {
				"className" : "padding2",
				"url" : "<@url controller="Setting" action="layout" />"
			}
		}]
	}, {
		"text" : "备份还原",
		"attributes" : {
			"className" : "padding2",
			"url" : "<@url controller="Database" action="layout" />"
		}
	}]
}]