[#include "../public/common.inc.htm"]
[#macro listMenu seq=[]]
	[#list seq as menu]
	{
		"id":"${menu.id}",
		"sort":"${menu.sort}",
		"name":"${menu.name}",
		"text":"${menu.name}",
		"iconCls":"${(menu.icon)!""}",
		"icon":"${(menu.icon)!""}",
		"url":"${(menu.url)!""}",
		"target":"${(menu.target)!""}",
		"targetText":"${(menu.targetText)!""}",
		"status":"${menu.statusText}",
		"children":[[@listMenu seq=menu.children /]]
	}
	[#if menu_has_next],[/#if]
	[/#list]
[/#macro]
{
	"total":"${total}",
	"rows":[[@listMenu seq=rows /]]
}