[#include "../public/common.inc.htm"]
[#macro listMenu seq=[]]
	[#list seq as menu]
	{
		"id" : ${menu.id},
		"text" : "${menu.name}",
		"iconCls" : "${(menu.icon)!""}",
		"attributes" : {
			"className" : "padding2",
			"url" : "${(menu.url)!""}",
			"target" : "${(menu.target)!""}"
		},
		"children" : [[@listMenu seq=menu.children /]]
	}
	[#if menu_has_next],[/#if]
	[/#list]
[/#macro]
<script>
	var platformMenuTreeData = [];
</script>
<div class="easyui-accordion" data-options="fit:true,border:false,plain:true">
[#list rows[0].children as accordion]
	<div title="${accordion.name}" class="padding5" data-options="iconCls:'${(accordion.icon)!""}'">
		<ul class="menuTree platformMenuTree" index="${accordion.id}" data-options="lines:true"></ul>
	</div>
	<script>
		platformMenuTreeData[${accordion.id}] = [[@listMenu seq=accordion.children /]];
	</script>
[/#list]
</div>