/* Default Style */
html, body, form, div, ul, fieldset, li, table, tr, td, span, em, lable, span, input {
	 margin:0px; padding:0px; font-size:13px;
}
a { text-decoration:none; color:#0e2d5f;}
a:hover { text-decoration:underline;}

.bg-color-bootstrap { background:#ffffff;}
.scroll-x-only { overflow-x:scroll; overflow-y:hidden;}
.scroll-y-only { overflow-x:hidden; overflow-y:scroll;}

.hidden { display:none;}

.width50 { width:50px;}
.width80 { width:80px;}
.width100 { width:100px;}
.width130 { width:130px;}
.width150 { width:150px;}
.width152 { width:152px;}
.width160 { width:160px;}
.width196 { width:196px;}
.width200 { width:200px;}
.width240 { width:240px;}
.width250 { width:250px;}
.width290 { width:290px;}
.width300 { width:300px;}
.width350 { width:350px;}
.width430 { width:430px;}
.width-percent50 { width: 50%;}
.width-percent98 { width:98%;}
.width-percent100 { width: 100%;}
.w668h280 { width:668px; height:280px;}
.w320h400 { width:320px; height:400px;}
.w195h100 { width:195px; height:100px;}
.w300h50 { width:300px; height:50px;}
.full-w-h { width:100%; height:100%;}

.padding1 { padding:1px;}
.padding2 { padding:2px;}
.padding5 { padding:5px;}
.padding-left2 { padding-left:2px;}
.margin1 { margin:1px;}
.margin2 { margin:2px;}
.margin5 { margin:5px;}
.margin-top2 { margin-top:2px;}
.margin-right5 { margin-right:5px;}

.clear-float{ clear:both; float:none;}
.clear-padding { padding:0;}
.clear-margin { margin:0;}

.float-left { float:left;}
.float-right { float:right;}

.align-center { text-align:center;}

/* Style for Form Start */
form { width:100%; height:100%;}
.input-text { text-align: left;}
.input-checkbox { margin-right:5px;}
.form-select {}
.form-textarea {}
.img { margin:0 auto; vertical-align:middle;}
.left-serch-box { height:28px; line-height:28px; padding-right:5px; vertical-align:middle; float:left;}
/* Style for Form End */

/* Style for Table Start */
.table-horizontal { text-align: center; margin:0 auto;}
.table-horizontal td { text-align:left;}

.table-line { width:100%; text-align:center; background-color:#cad9ea; font-size:13px;}
.table-line tr { line-height:24px; vertical-align:middle;}
.table-line th { background-color:#f5fafe; text-align:center; font-weight:500;}
.table-line td { background-color:#FFFFFF; padding:2px;}

.td-left td { text-align:left;}
.tr-height25 tr { height:25px; line-height:25px; vertical-align:middle;}
/* Style for Table End */

/* Style for platform Start */
#platform { text-align:center; vertical-align:middle;}
#platform-north { height:50px;}
#platform-north .left { float:left; padding: 10px 0px 0px 25px; font-size:18px; letter-spacing:2px;}
#platform-north .right { float:right; padding:0px 5px 0px 0px;}
#platform-north .right ul { list-style:none; height:25px; line-height:25px; vertical-align:middle;}
#platform-north .right ul li { float:left;}
#platform-north .right .splite { margin:0px 5px 0px 5px;}
#platform-south { height:40px; text-align:center;}
#platform-south .text { height:33px; line-height:33px; vertical-align:middle;}
#platform-south .text a { color: #333;}
#platform-west { width:200px;}
#platform-center {}
/* Style for platform End */

/* Style for easyUI */
.icon-logout { background:url('../images/icons/logout.png') no-repeat center center;}
.icon-shutdown { background:url('../images/icons/shutdown.png') no-repeat center center;}
.icon-home { background:url('../images/icons/home.png') no-repeat center center;}
.icon-detail { background:url('../images/icons/detail.png') no-repeat center center;}
.icon-type { background:url('../images/icons/type.png') no-repeat center center;}
.icon-crowd { background:url('../images/icons/crowd.png') no-repeat center center;}
.icon-key { background:url('../images/icons/key.png') no-repeat center center;}
.icon-upload { background:url('../images/icons/upload.png') no-repeat center center;}
.icon-select { background:url('../images/icons/select.png') no-repeat center center;}
.icon-truncate { background:url('../images/icons/truncate.png') no-repeat center center;}
.icon-setting { background:url('../images/icons/setting.png') no-repeat center center;}
.icon-tool { background:url('../images/icons/tool.png') no-repeat center center;}