<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<#include "../public/common.inc.htm">
<#include "../public/resource.inc.htm">
<table class="easyui-datagrid listAction" url="<@url action="list" />" toolbar="#toolbar" pagination="true" rownumbers="true" fitcolumns="true" fit="true" border="false" singleselect="true" nowrap="true">
	<thead>
		<tr>
			<th field="name">名称</th>
			<th field="content">内容</th>
			<th field="updateTime">修改时间</th>
			<th field="createTime">创建时间</th>
		</tr>
	</thead>
</table>
<div id="toolbar" class="controllerBar">
	<#if _BASE_.hasPermit("create")><a href="javascript:void(0);" class="easyui-linkbutton createAction" iconcls="icon-add" plain="true">添加</a></#if>
	<#if _BASE_.hasPermit("modify")><a href="javascript:void(0);" class="easyui-linkbutton modifyAction" iconcls="icon-edit" plain="true">修改</a></#if>
	<#if _BASE_.hasPermit("delete")><a href="javascript:void(0);" class="easyui-linkbutton deleteAction" iconcls="icon-remove" plain="true">删除</a></#if>
</div>

<div class="createActionDialog modifyActionDialog" style="width:265px;height:210px" data-options="buttons:'#actionButton',modal:true,resizable:true">
	<form class="createActionForm modifyActionForm" method="post" action=""></form>
</div>
<div id="actionButton">
	<a href="javascript:void(0);" class="easyui-linkbutton createActionOK modifyActionOK" data-options="iconCls:'icon-ok'">确定</a>
	<a href="javascript:void(0);" class="easyui-linkbutton createActionCancel modifyActionCancel" data-options="iconCls:'icon-cancel'">取消</a>
</div>
<textarea id="Template-List" class="hidden">
{#template MAIN}
<table align="center" class="horizontalTable trHeight25">
	<tr>
		<th>名称</th>
		<td>
			<input class="easyui-validatebox inputText width196" type="text" name="setting.name" data-options="required:true" value="{$T.name}" />
		</td>
	</tr>
	<tr>
		<th>内容</th>
		<td>
			&lt;textarea class="w195h100" name="setting.content"&gt;{$T.content}&lt;/textarea&gt;
		</td>
	</tr>
</table>
{#/template MAIN}
</textarea>