<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">名称</th>
		<td>${info.name}</td>
	</tr>
	<tr>
		<th>类型</th>
		<td>${info.type}</td>
	</tr>
	<tr>
		<th>内容</th>
		<td>${info.content!""}</td>
	</tr>
	<tr>
		<th>备注</th>
		<td>${info.remark!""}</td>
	</tr>
	<tr>
		<th>操作者</th>
		<td>[#if !empty(info.operate_id_rel)][${info.operate_id_rel.serial}]${info.operate_id_rel.name}[/#if]</td>
	</tr>
	<tr>
		<th>IP</th>
		<td>${info.operate_ip!""}</td>
	</tr>
	<tr>
		<th>操作时间</th>
		<td>${millisToDateTime(info.operate_time)!""}</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			[#if _BASE_.hasPermit("edit")]<a href="${_BASE_.url("edit")}?id=${info.id}" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>[/#if]
			[#if _BASE_.hasPermit("delete")]<a href="${_BASE_.url("delete")}?ids=${info.id}" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>[/#if]
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>