<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<form id="submitForm" method="post" action="${_base_.url("save")}">
<input type="hidden" name="id" value="${info.id!0}" />
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">父级</th>
		<td><input name="parentId" class="js-select-parent width250" value="${info.parentId!0}" /></td>
	</tr>
	<tr>
		<th>名称</th>
		<td><input class="easyui-textbox width250" type="text" name="name" data-options="required:true" value="${(info.name)!""}" /></td>
	</tr>
	<tr>
		<th>图标</th>
		<td>
			<input class="easyui-textbox width150 js-pick-icon" type="text" name="icon" data-options="buttonText:'选取',buttonIcon:'icon-pick'" value="${(info.icon)!""}" />
			[#include "../icon/pick.inc.htm"]
		</td>
	</tr>
	<tr>
		<th>打开方式</th>
		<td>
			<select class="easyui-combobox" name="goal" data-options="required:true,editable:false">
				[@getMapOption map=goalMap default=info.goal!"" tips="请选择打开方式" /]
			</select>
		</td>
	</tr>
	<tr>
		<th>链接地址</th>
		<td>
			<textarea name="url" class="easyui-textbox width250 js-pick-url" data-options="multiline:true,height:50,buttonText:'选取',buttonIcon:'icon-pick'">${info.url!""}</textarea>
			[#include "../resource/pick.inc.htm"]
		</td>
	</tr>
	<tr>
		<th>排序</th>
		<td><input class="easyui-numberspinner width150" type="text" name="sort" data-options="required:true,min:0" value="${(info.sort)!0}" /></td>
	</tr>
	<tr>
		<th>状态</th>
		<td>
			<select class="easyui-combobox" name="status" data-options="required:true,editable:false">
				[@getMapOption map=statusMap default=info.status!"" tips="请选择记录状态" /]
			</select>
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
$(function () {
	$('input[name="parentId"]').combotree({
		url : '${_base_.url("list")}',
		loadFilter : function (data, parent) {
			return Web_formatComboTree(data.rows, [], '默认为顶级', 'name');
		}
	});
	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = Web_parseMessage(data);
			if(0 != data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_confirm('操作成功，是否继续编辑', function (result) {
					if(!result) Web_redirectPage('${_base_.url("layout")}');
				});
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		if($submitForm.form('validate')) $submitForm.form('submit');
	});
	$('#buttonCancel').bind('click', function () {
		$submitForm.form('reset');
	});
});
</script>