<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">名称</th>
		<td>${info.name}</td>
	</tr>
	<tr>
		<th>排序</th>
		<td>${info.sort}</td>
	</tr>
	<tr>
		<th>状态</th>
		<td>${info.status_text!""}</td>
	</tr>
	<tr>
		<th>图标</th>
		<td><a href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'${info.icon!""}',plain:true">${info.icon!""}</a></td>
	</tr>
	<tr>
		<th>打开方式</th>
		<td>${info.goal_text!""}</td>
	</tr>
	<tr>
		<th>链接地址</th>
		<td>${info.url!""}</td>
	</tr>
	<tr>
		<th>创建者</th>
		<td>[${info.create_id_rel.serial}]${info.create_id_rel.name}</td>
	</tr>
	<tr>
		<th>创建时间</th>
		<td>${millisToDateTime(info.create_time)!""}</td>
	</tr>
	<tr>
		<th>修改者</th>
		<td>[${info.update_id_rel.serial}]${info.update_id_rel.name}</td>
	</tr>
	<tr>
		<th>修改时间</th>
		<td>${millisToDateTime(info.update_time)!""}</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			[#if _BASE_.hasPermit("edit")]<a href="${_BASE_.url("edit")}?id=${info.id}" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">修改</a>[/#if]
			[#if _BASE_.hasPermit("delete")]<a href="${_BASE_.url("delete")}?ids[]=${info.id}" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>[/#if]
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>