<link href="http://127.0.0.1:8080/oa/api/jQuery/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="http://127.0.0.1:8080/oa/api/jQuery/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="http://127.0.0.1:8080/oa/skin/default/css/main.css" rel="stylesheet" type="text/css" />
<script src="http://127.0.0.1:8080/oa/api/jQuery/jquery-1.8.0.min.js" language="javascript"></script>
<script src="http://127.0.0.1:8080/oa/api/jQuery/jquery.easyui.min.js" language="javascript"></script>
<script src="http://127.0.0.1:8080/oa/api/jQuery/jquery-jtemplates.min.js" language="javascript"></script>

<div id="jTemplateTest"></div>
<textarea id="template2" style="display:none"> 
    你好:{$T.name},你{$T.age}岁了。 
</textarea>
<script> 
$(document).ready(function(){ 
	var profile={name:"my",age:"22"}; 
	//调用方法 
	$("#jTemplateTest").setTemplateElement("template2"); 
	$("#jTemplateTest").processTemplate({}); 
}); 
</script> 