<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table cellspacing="1" cellpadding="0" class="table-line td-left">
	<tr>
		<th class="width130">名称</th>
		<td>${info.name}</td>
	</tr>
	<tr>
		<th class="width130">设置</th>
		<td class="td-clear">
			<div class="easyui-layout height500" data-options="fit:true,border:true,plain:true">
				<div data-options="region:'west',split:true" class="width460">
					<table class="js-list-table-resource"></table>
					<div id="toolbar-resource">权限</div>
				</div>
				<div data-options="region:'center'">
					<table class="js-list-table-menu"></table>
					<div id="toolbar-menu">菜单</div>
				</div>
			</div>
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
<script>
$(function () {
	$('.js-list-table-resource').treegrid({
		url : '${_BASE_.url("resource", "list")}',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar-resource',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',title:'ID'},
			{field:'name',title:'名称'},
			{field:'module',title:'模块'},
			{field:'controller',title:'控制器'},
			{field:'action',title:'方法'},
			{field:'status_text',title:'状态'}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-table-resource').treegrid('autoSizeColumn');
		}
	});
	$('.js-list-table-menu').treegrid({
		url : '${_BASE_.url("menu", "list")}',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar-menu',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',title:'ID'},
			{field:'name',title:'名称'},
			{field:'status_text',title:'状态'},
			{field:'target_text',title:'打开方式'},
			{field:'url',title:'地址'}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-table-menu').treegrid('autoSizeColumn');
		}
	});
});
</script>