<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<form id="submitForm" method="post" action="[@url action="save" /]">
<input type="hidden" name="id" value="${info.id!0}" />
<table cellspacing="1" cellpadding="0" class="table-line td-left">
	<tr>
		<th class="width130">父级</th>
		<td><input name="parentId" class="js-select-parent width300" value="${info.parentId!0}" /></td>
	</tr>
	<tr>
		<th class="width130">名称</th>
		<td><input class="easyui-textbox width300" type="text" name="name" data-options="required:true" value="${(info.name)!""}" /></td>
	</tr>
	<tr>
		<th class="width130">排序</th>
		<td><input class="easyui-numberspinner width150" type="text" name="sort" data-options="required:true,min:0" value="${(info.sort)!0}" /></td>
	</tr>
	<tr>
		<th class="width130">状态</th>
		<td>
			<select class="easyui-combobox" name="status" data-options="required:true,editable:false">
				<option value="">请选择记录状态</option>
				<option value="0"[#if 0 == info.status!-99] selected="selected"[/#if]>禁用</option>
				<option value="1"[#if 1 == info.status!-99] selected="selected"[/#if]>正常</option>
			</select>
		</td>
	</tr>
	<tr>
		<th class="width130">备注</th>
		<td><textarea name="remark" class="easyui-textbox width300 iconImageUrl" data-options="required:true,multiline:true,height:80">${info.remark!""}</textarea></td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
</form>
<script>
$(function () {
	$('input[name="parentId"]').combotree({
		checkbox : true,
		url : '[@url action="list" /]?nototal=1',
		loadFilter : function (data, parent) {
			return Web_formatComboTree(data.rows, [], '默认为顶级', 'name');
		}
	});
	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		if($submitForm.form('validate')) {
			$submitForm.form('submit');
		}
	});
	$('#buttonCancel').bind('click', function () {
		$submitForm.form('reset');
	});
});
</script>