<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<style type="text/css">
.waterfallCell { width:264px;}
</style>
<script src="${Web_projectHome}/api/jQuery/jquery.json-2.4.min.js" language="javascript"></script>
<script src="${Web_projectHome}/api/jQuery/jquery.masonry.min.js" language="javascript"></script>
<div class="easyui-layout" data-options="fit:true,border:false,plain:true">
<form id="submitForm" method="post" action="[@url action="savePower" /]">
<input type="hidden" name="id" value="${role.id}" />
	<div data-options="region:'west',split:true,border:false,plain:true" class="width240 padding-left2" title="模块菜单">
		<ul id="roleMenuTree" class="easyui-tree menuTree" data-options="checkbox:true,url:'[@url controller="menu" action="roleMenuList" /]?id=${role.id}',lines:true"></ul>
	</div>
	<div data-options="region:'center',split:true,border:false,plain:true">
		<table cellspacing="1" cellpadding="0" class="table-line td-left">
			<tr>
				<th colspan="2">独立权限</th>
			</tr>
			<tr>
				<td colspan="2">
				[#list powerMap?keys as powerKey]
					<input type="checkbox" name="${powerKey}" value="1"
					[#if (powerRoleMap[powerKey])!false] checked="checked"[/#if]
							class="input-checkbox" />${powerMap[powerKey]}
				[/#list]
				</td>
			</tr>
			<tr>
				<th colspan="2">模块权限</th>
			</tr>
			<tr>
				<td colspan="2" id="waterfallContainer">
				[#list permitMap["modules"]?keys as moduleKey]
					[#if permitMap["modules"][moduleKey]["configurable"]]
					<div class="padding2 waterfallCell">
						<div class="modulePanel" title="${permitMap["modules"][moduleKey]["name"]}"    
								style="width:260px;height:auto;padding:5px;" 
								data-options="iconCls:'icon-key',collapsible:true">  
						<ul class="moduleTree" data-options="checkbox:true,data:[{
						'text' : '${permitMap["modules"][moduleKey]["name"]}',
						'state' : 'open',
						'attributes' : {
							'key' : '${moduleKey}'
						},
						'children' : [
						[#list permitMap["modules"][moduleKey]["controllers"]?keys as controllerKey]
						[#if permitMap["modules"][moduleKey]["controllers"][controllerKey]["configurable"]]{
							'text' : '${permitMap["modules"][moduleKey]["controllers"][controllerKey]["name"]}',
							'state' : 'closed',
							'attributes' : {
								'key' : '${controllerKey}'
							},
							'children' : [
								[#list permitMap["modules"][moduleKey]["controllers"][controllerKey]["actions"]?keys as actionKey]
								[#if permitMap["modules"][moduleKey]["controllers"][controllerKey]["actions"][actionKey]["configurable"]]{
										'text' : '${permitMap["modules"][moduleKey]["controllers"][controllerKey]["actions"][actionKey]["name"]}',
										'checked' : [#if (permitRoleMap[moduleKey][controllerKey][actionKey])!false]true[#else]false[/#if],
										'attributes' : {
											'key' : '${actionKey}'
										},
									}[#if actionKey_has_next],[/#if]
								[/#if]
								[/#list]]
							}[#if controllerKey_has_next],[/#if]
						[/#if]
						[/#list]]}]"></ul>
						</div>
					</div>
					[/#if]
				[/#list]
				</td>
			</tr>
			<tr>
				<th>操作</th>
				<td>
					<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
					<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">重置</a>
					<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">返回</a>
				</td>
			</tr>
		</table>
	</div>
<input type="hidden" name="permitChecked" value="" />
<input type="hidden" name="roleMenu" value="" />
</form>
</div>
<script>
function reLayout() {
	$('#waterfallContainer').masonry('reLayout', function () {});
}
$(function () {
	$('.modulePanel').panel({
		'onCollapse' : function () {
			reLayout();
		},'onExpand' : function () {
			reLayout();
		}
	});
	$('.moduleTree').tree({
		'onCollapse' : function(node) {
			reLayout();
		},'onExpand' : function(node) {
			reLayout();
		}
	});
	$('#waterfallContainer').masonry({
		itemSelector: '.waterfallCell'
	});
	$('#submitForm').form({
		success : function (data) {
			data = $.parseJSON(data);
			Web_alertInfo(data.message);
			$('#buttonOk').linkbutton('enable');
		}
	});
	$('#buttonOk').bind('click', function () {
		$(this).linkbutton('disable');
		/* 处理模块权限 */
		var permitCheckedData = {};
		$('.moduleTree').each(function () {
			var moduleData = $(this).tree('getData', $(this).tree('getRoot').target);
			/* 处理Module */
			var moduleName = moduleData.attributes.key;
			permitCheckedData[moduleName] = {};
			for(var i = 0; i < moduleData.children.length; i++) {
				/* 处理Controller */
				var controllerData = moduleData.children[i];
				var controllerName = controllerData.attributes.key;
				permitCheckedData[moduleName][controllerName] = {};
				for(var j = 0; j < controllerData.children.length; j++) {
					/* 处理Action */
					var actionData = controllerData.children[j];
					var actionName = actionData.attributes.key;
					permitCheckedData[moduleName][controllerName][actionName] = actionData.checked;
				}
			}
		});
		$('input[name="permitChecked"]').val($.toJSON(permitCheckedData));
		/* 处理角色菜单 */
		var nodes = $('#roleMenuTree').tree('getChecked');
		var ids = '', size = nodes.length;
		for(var i = 0; i < size; i++) {
			var node = nodes[i];
			ids += node.id + '';
			if(i + 1 < size) {
				ids += ',';
			}
		}
		$('input[name="roleMenu"]').val(ids);
		$('#submitForm').submit();
	});
	$('#buttonCancel').bind('click', function () {
		$('#submitForm')[0].reset();
	});
});
</script>