<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="js-list-table"></table>
<div id="toolbar">
	[#if _BASE_.hasPermit("create")]<a href="[@url action="edit" /]" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>[/#if]
	[#if _BASE_.hasPermit("Member", "listView")]<a id="buttonListMember" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-crowd',plain:true">用户列表</a>[/#if]
</div>
<script>
$(function () {
	$('.js-list-table').treegrid({
		url : '[@url action="list" /]',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		columns:[[
			{field:'id',title:'ID'},
			{field:'name',title:'名称'},
			{field:'sort',title:'排序'},
			{field:'status_text',title:'状态'},
			{field:'create_id_text',title:'创建者'},
			{field:'create_time',title:'创建时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'update_id_text',title:'修改者'},
			{field:'update_time',title:'修改时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '<a href="[@url action="show" /]?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-detail\'">查看</a>'
					+ '[#if _BASE_.hasPermit("modify")]<a href="[@url action="edit" /]?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-edit\'">修改</a>[/#if]'
					+ '[#if _BASE_.hasPermit("delete")]<a href="[@url action="delete" /]?ids='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-remove\'">删除</a>[/#if]'
					+ '[#if _BASE_.hasPermit("editPower")]<a href="[@url action="editPower" /]?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-key\'">编辑权限</a>[/#if]';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-button').linkbutton({
				plain : true
			});
			$('.js-list-table').datagrid('autoSizeColumn');
		}
	});
	
	$('#buttonListMember').bind('click', function () {
		var rows = $('.listAction').treegrid('getChecked');
		var ids = '', size = rows.length;
		if(size < 1) {
			Web_alertInfo('请选择要查看的角色！');
			return ;
		}
		for(var i = 0; i < size; i++) {
			var row = rows[i];
			ids += row.id;
			if(i + 1 < size) {
				ids += ',';
			}
		}
		var url = '[@url controller="member" action="listView" /]?rid=' + ids;
		Web_redirectPage(url);
	});
});
</script>