<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="js-list-table"></table>
<div id="toolbar">
	[#if _BASE_.hasPermit("create")]<a href="[@url action="edit" /]" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true">添加</a>[/#if]
	[#if _BASE_.hasPermit("Member", "listView")]<a id="buttonListMember" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-crowd',plain:true">用户列表</a>[/#if]
</div>
<script>
$(function () {
	$('.js-list-table').treegrid({
		url : '[@url action="list" /]',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',checkbox:true},
			{field:'name',title:'名称'},
			{field:'sort',title:'排序'},
			{field:'status_text',title:'状态'},
			{field:'create_id_text',title:'创建者'},
			{field:'create_time',title:'创建时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'update_id_text',title:'修改者'},
			{field:'update_time',title:'修改时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '<a href="[@url action="show" /]?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-detail\'">查看</a>'
					+ '[#if _BASE_.hasPermit("modify")]<a href="[@url action="edit" /]?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-edit\'">修改</a>[/#if]'
					+ '[#if _BASE_.hasPermit("delete")]<a href="[@url action="delete" /]?ids='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-remove\'">删除</a>[/#if]'
					+ '[#if _BASE_.hasPermit("editPower")]<a href="[@url action="editPower" /]?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-key\'">编辑权限</a>[/#if]';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-button').linkbutton({
				plain : true
			});
			$('.js-list-table').datagrid('autoSizeColumn');
		}
	});
	
	$('.js-list-checked-revert').bind('click', function () {
		
	});
});
</script>



<textarea id="Template-List" class="hidden">
{#template MAIN}
<table align="center" class="table-horizontal tr-height25">
	<tr>
		<th>上级</th>
		<td>
			<select id="role" class="easyui-combobox width152" data-options="editable:false" name="role.parent.id"></select>
		</td>
	</tr>
	<tr>
		<th>名称</th>
		<td>
			<input class="easyui-validatebox input-text width150" type="text" name="role.name" data-options="required:true" value="{$T.name}" />
		</td>
	</tr>
	<tr>
		<th>排序</th>
		<td>
			<input class="easyui-numberspinner input-text length-percent50" type="text" name="role.sort" data-options="required:true,min:0" value="{$T.sort}" />
		</td>
	</tr>
</table>
{#/template MAIN}
</textarea>
<script>/*
function getRoleOptions(roles, selected, prefix, tips){
	var str = '';
	if(typeof tips != "undefined") {
		str += '<option value="">' + tips + '</option>';
	}
	for (var i = 0; i < roles.length; i++) {
		var role = roles[i];
		if(selected == role.id) {
			str += '<option value="' + role.id + '" selected="selected">' + prefix + role.name + '</option>';
		} else {
			str += '<option value="' + role.id + '">' + prefix + role.name + '</option>';
		}
		if(role.children.length > 0) {
			str += getRoleOptions(role.children, selected, prefix + '|-')
		}
	}
	return str;
}
$(function (){
	$('.listAction').datagrid({
		onCheckAll : function (rows) {
			for(i = 0; i < rows.length; i++) {
				$(this).datagrid('checkRow', $(this).datagrid('getRowIndex', rows[i]));
			}
		},
		onUncheckAll : function (rows) {
			$(this).datagrid('uncheckRow', $(this).datagrid('getRowIndex', rows[i]));
		}
	});
	controllerBar.actions.beforeCreate = function (eventObject) {
		return {
			status : 0,
			message : {
				'sort' : 0
			}
		};
	}
	controllerBar.actions.afterCreate = function (eventObject, data) {
		var html = getRoleOptions($('.listAction').treegrid('getData'), -1, '|-', '默认为顶级节点');
		$('#role').html(html);	
	}
	controllerBar.actions.afterModify = function (eventObject, data) {
		data = $.parseJSON(data);
		var html = getRoleOptions($('.listAction').treegrid('getData'), data.message.pid, '|-', '默认为顶级节点');
		$('#role').html(html);	
	}
	$('#buttonEditPower').bind('click', function () {
		var id = Web_getDataGridRowId($('.listAction'));
		if(-1 == id) return ;
		var url = '[@url action="editPower" /]?id=' + id;
		Web_redirectPage(url);
	});
	$('#buttonListMember').bind('click', function () {
		var rows = $('.listAction').treegrid('getChecked');
		var ids = '', size = rows.length;
		if(size < 1) {
			Web_alertInfo('请选择要查看的角色！');
			return ;
		}
		for(var i = 0; i < size; i++) {
			var row = rows[i];
			ids += row.id;
			if(i + 1 < size) {
				ids += ',';
			}
		}
		var url = '[@url controller="member" action="listView" /]?rid=' + ids;
		Web_redirectPage(url);
	});
});*/
</script>