<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<form id="submitForm" method="post" action="${_BASE_.url("save")}">
<input type="hidden" name="id" value="${info.id!0}" />
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">父级</th>
		<td><input name="parentId" class="js-select-parent width300" value="${info.parentId!0}" /></td>
	</tr>
	<tr>
		<th>名称</th>
		<td><input class="easyui-textbox width250" type="text" name="name" data-options="required:true" value="${(info.name)!""}" /></td>
	</tr>
	<tr>
		<th>排序</th>
		<td><input class="easyui-numberspinner width150" type="text" name="sort" data-options="required:true,min:0" value="${(info.sort)!0}" /></td>
	</tr>
	<tr>
		<th>状态</th>
		<td>
			<select class="easyui-combobox" name="status" data-options="required:true,editable:false">
				[@getMapOption map=statusMap default=info.status!"" tips="请选择记录状态" /]
			</select>
		</td>
	</tr>
	<tr>
		<th>图标</th>
		<td>
			效果预览[<img src="[#if empty(fullUrl)]${_WEB_URL_}/api/jQuery/themes/icons/large_picture.png[#else]${fullUrl}[/#if]" class="img js-icon-image-show" width="16px" height="16px" />]16*16
			<a href="javascript:void(0);" class="easyui-linkbutton js-swf-upload-button" data-options="iconCls:'icon-upload',plain:'true'"><span id="js-swf-upload"></span></a>
		</td>
	</tr>
	<tr>
		<th>地址</th>
		<td><textarea name="url" class="easyui-textbox width250 js-icon-image-url" data-options="required:true,multiline:true,height:60">${(info.url)!""}</textarea></td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true">返回</a>
		</td>
	</tr>
</table>
</form>
[#include "../upload/swfUpload.htm"]
<script type="text/javascript">
$(function () {
	swfUploadSettings.post_params['dir'] = 'icon';
	swfUploadSettings.upload_success_handler = function (file, serverData) {
		isSWFUploading = false;
		try {
			var data = $.parseJSON(serverData);
			if(0 == data.error) {
				$('.js-icon-image-url').textbox('setValue', data.uri).trigger('change');
			} else {
				Web_alertInfo(data.message);
			}
		} catch (ex) {
			Web_alertInfo('上传失败！');
		}
	};
	new SWFUpload(swfUploadSettings);
	
	$('.js-icon-image-url').bind('change', function () {
		$('.js-icon-image-show').attr('src', Web_projectUrl + '/' + $(this).textbox('getValue'));
	});
	
	$('input[name="parentId"]').combotree({
		url : '${_BASE_.url("list")}',
		loadFilter : function (data, parent) {
			return Web_formatComboTree(data.rows, [], '默认为顶级', 'name');
		}
	});
	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		if($submitForm.form('validate')) $submitForm.form('submit');
	});
	$('#buttonCancel').bind('click', function () {
		$submitForm.form('reset');
	});
});
</script>