<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="listAction" url="[@url action="list" /]" toolbar="#toolbar" pagination="true" rownumbers="true" fitcolumns="true" fit="true" border="false" singleselect="true" nowrap="true">
	<thead>
		<tr>
			<th field="id">ID</th>
			<th field="name">名称</th>
			<th field="type">类型</th>
			<th field="icon">图标</th>
			<th field="url">地址</th>
			<th field="sort">排序</th>
			<th field="author">作者</th>
			<th field="createTime">添加时间</th>
		</tr>
	</thead>
</table>
<div id="toolbar" class="controllerBar">
	[#if _BASE_.hasPermit("show")]<a id="buttonShow" href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-detail" plain="true">查看</a>[/#if]
	[#if _BASE_.hasPermit("create")]<a href="[@url action="create" /]" class="easyui-linkbutton" iconcls="icon-add" plain="true">添加</a>[/#if]
	[#if _BASE_.hasPermit("modify")]<a id="buttonModify" href="javascript:void(0);" class="easyui-linkbutton" iconcls="icon-edit" plain="true">修改</a>[/#if]
	[#if _BASE_.hasPermit("delete")]<a href="javascript:void(0);" class="easyui-linkbutton deleteAction" iconcls="icon-remove" plain="true">删除</a>[/#if]
	[#if _BASE_.hasPermit("IconType", "layout")]<a href="[@url controller="IconType" action="layout" /]" class="easyui-linkbutton" iconcls="icon-type" plain="true">类型管理</a>[/#if]
	[#if _BASE_.hasPermit("renderCss")]<a href="javascript:void(0);" class="easyui-linkbutton renderCss" iconcls="icon-reload" plain="true">生成样式</a>[/#if]
	<div class="float-right margin-right5">
		<input id="searchBox"></input>
	</div>
	<div id="searchMenu">
		[@getSearchOptionList seq=iconType tips="全部类型" /]
	</div>
</div>
<script>
$(function () {
	$('.renderCss').bind('click', function () {
		$.getJSON('[@url action="renderCss" /]', function (data) {
			Web_alertInfo(data.message);
		});
	});
	$('#searchBox').searchbox({ 
		searcher:function(value, name){ 
			$('.listAction').datagrid('load', {
				id : name,
				name : value
			});
		}, 
		menu:'#searchMenu', 
		prompt:'请输入搜索内容'
	});
	$('.listAction').datagrid({
		onDblClickRow : function (rowIndex, rowData) {}
	});
	$('#buttonShow').bind('click', function () {
		var id = Web_getDataGridRowId($('.listAction'));
		if(-1 == id) return ;
		var url = '[@url action="show" /]?back=1&id=' + id;
		Web_redirectPage(url);
	});
	$('#buttonModify').bind('click', function () {
		var id = Web_getDataGridRowId($('.listAction'));
		if(-1 == id) return ;
		var url = '[@url action="modify" /]?id=' + id;
		Web_redirectPage(url);
	});
});
</script>