<#include "../public/common.inc.htm">
{
	"total":"${total}",
	"rows":[
		<#list rows as icon>
		{
			"id":"${icon.id}",
			"sort":"${icon.sort}",
			"name":"<#if _BASE_.hasPermit("show")><a href=\"<@url action="show" />?back=1&id=${icon.id}\">${icon.name}</a><#else>${icon.name}</#if>",
			"type":"${(icon.type.name)!""}",
			"icon":"<img src=\"${icon.url}\" class=\"img\" width=\"16px\" height=\"16px\" />",
			"url":"${icon.url}",
			"author":"${(icon.author.name)!""}",
			"createTime":"${millisToDateTime(icon.createTime)}"
		}<#if icon_has_next>,</#if>
		</#list>
	]
}