<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="js-list-table"></table>
<div id="toolbar">
	[#if _base_.hasPermit("edit")]<a href="${_base_.url("edit")}" class="easyui-linkbutton js-control-add" data-options="iconCls:'icon-add',plain:true">添加顶级节点</a>[/#if]
	[#if _base_.hasPermit("delete")]<a href="javascript:void(0);" class="easyui-linkbutton js-control-delete" data-options="iconCls:'icon-remove',plain:true">批量删除</a>[/#if]
	[#if _base_.hasPermit("renderCss")]<a href="javascript:void(0);" class="easyui-linkbutton js-render-css" data-options="iconCls:'icon-reload',plain:true">生成样式</a>[/#if]
</div>
<script type="text/javascript">
$(function () {
	$('.js-list-table').treegrid({
		url : '${_base_.url("list")}',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',checkbox:true},
			{field:'show_id',title:'ID',formatter:function (value, row, index) {
				return row.id;
			}},
			{field:'name',title:'名称'},
			{field:'sort',title:'排序'},
			{field:'url',title:'地址',formatter:function (value, row, index) {
				return '<a href="' + row.fullUrl + '" target="_blank" title="点击查看大图">' + row.url + '</a>';
			}},
			{field:'create_id',title:'创建者',formatter:function (value, row, index) {
				if(!row.create_id_info) return '';
				return '[' + row.create_id_info.serial + ']' + row.create_id_info.name;
			}},
			{field:'create_time',title:'创建时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'update_id',title:'修改者',formatter:function (value, row, index) {
				if(!row.update_id_info) return '';
				return '[' + row.update_id_info.serial + ']' + row.update_id_info.name;
			}},
			{field:'update_time',title:'修改时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '[#if _base_.hasPermit("show")]<a href="${_base_.url("show")}?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-detail\'">查看</a>[/#if]'
					+ '[#if _base_.hasPermit("edit")]<a href="${_base_.url("edit")}?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-edit\'">修改</a>[/#if]'
					+ '[#if _base_.hasPermit("delete")]<a href="${_base_.url("delete")}?ids[]='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-remove\'">删除</a>[/#if]';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-button').linkbutton({plain : true});
			$(this).datagrid('autoSizeColumn', 'operate');
		},
		onSelect : function (row) {
			$('.js-control-add').attr('href', '${_base_.url("edit")}?parentId=' + row.id);
			$('.js-control-add').linkbutton({text:'添加下级节点'});
		}
	});
	
	$('.js-control-delete').bind('click', function () {
		var ids = Web_getDatagridIdArray($('.js-list-table'), 'checked');
		var length = ids.length;
		if(length < 1) {
			Web_alertInfo('请选择要删除的记录！');
			return ;
		}
		for(var i = 0; i < length; i++) {
			ids[i] = 'ids[]=' + ids[i];
		}
		var url = '${_base_.url("delete")}?' + ids.join('&');
		Web_redirectPage(url);
	});
	
	var isRendering = false;
	$('.js-render-css').bind('click', function () {
		if(isRendering) {
			Web_alertInfo("正在执行中，请稍后......");
			return false;
		}
		isRendering = true;
		$.get('${_base_.url("renderCss")}', function (data) {
			data = Web_parseMessage(data);
			isRendering = false;
			Web_alertInfo(data.message);
		});
	});
});
</script>