<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<form id="submitForm" method="post" action="${_BASE_.url("savePassword")}">
<table cellspacing="1" cellpadding="0" class="table-line td-left td-break-word">
	<tr>
		<th class="width130">账号</th>
		<td>${(info.serial)!""}</td>
	</tr>
	<tr>
		<th>名称</th>
		<td>${(info.name)!""}</td>
	</tr>
	<tr>
		<th class="width130">原密码</th>
		<td><input class="easyui-textbox width200" type="password" name="password" data-options="required:true" value="" /></td>
	</tr>
	<tr>
		<th>新密码</th>
		<td><input class="easyui-textbox width200" type="password" name="passwordNew" data-options="required:true" value="" /></td>
	</tr>
	<tr>
		<th>确认密码</th>
		<td><input class="easyui-textbox width200" type="password" name="passwordConfirm" data-options="required:true" value="" /></td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:true">确定</a>
			<a href="javascript:void(0);" class="easyui-linkbutton js-tab-close-current" data-options="iconCls:'icon-cancel',plain:true">关闭</a>
		</td>
	</tr>
</table>
</form>
<script type="text/javascript">
$(function () {

	$('.js-tab-close-current').bind('click', function () {
		parent.platformTab.closeCurrent();
	});

	var $submitForm = $('#submitForm');
	$submitForm.form({
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
			} else {
				Web_alertInfo('操作成功，请重新登陆', function () {
					top.location.href = data.message;
				});
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		if(!$submitForm.form('validate')) return false;
		var passwordNew = $('input[name="passwordNew"]').val();
		var passwordConfirm = $('input[name="passwordConfirm"]').val();
		if(passwordNew != passwordConfirm) {
			Web_alertInfo('两次密码输入不一致');
			return false;
		}
		$submitForm.form('submit');
	});
});
</script>