<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<div class="easyui-layout" data-options="fit:true,border:false,plain:true">
	<div class="width240" data-options="region:'west',split:true,border:false,plain:true" title="组织列表">
		<ul id="organizeTree" class="menuTree margin5" data-options="url:'[@url controller="Organize" action="list" /]',lines:true"></ul>
	</div>
	<div data-options="region:'center',split:true,border:false,plain:true" class="padding-left2">
		<iframe id="memberIFrame" scrolling="auto" frameborder="0" src="" class="full-w-h"></iframe>
	</div>
</div>
<script>
function loadIFrame(url) {
	$('#memberIFrame').attr('src', url);
}
$(function () {
	$('#organizeTree').tree({
		onClick : function (node) {
			var url = '[@url action="listView" /]?id=' + node.id;
			loadIFrame(url);
		}
	});
	loadIFrame('[@url action="listView" /]');
});
</script>