[#include "../public/common.inc.htm"]
{
	"total":"${total}",
	"rows":[
		[#list rows as member]
		{
			"id":"${member.id}",
			"sort":"${member.sort}",
			"serial":"[#if _BASE_.hasPermit("show")]<a href=\"[@url action="show" /]?back=1&id=${member.id}\">${member.serial}</a>[#else]${member.serial}[/#if]",
			"name":"${member.name}",
			"organize":"[#list (member.organizes)![] as organize]${organize.name}[#if organize_has_next],[/#if][/#list]",
			"role":"[#list (member.roles)![] as role]${role.name}[#if role_has_next],[/#if][/#list]",
			"status":"${member.statusText}",
			"lastActive":"${millisToDateTime(member.lastActive)}",
			"lastIp":"${member.lastIp}",
			"registerTime":"${millisToDateTime(member.registerTime)}",
			"registerIp":"${member.registerIp}"
		}[#if member_has_next],[/#if]
		[/#list]
	]
}