<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
[#if empty((member.id)!0)]
<form id="submitForm" method="post" action="[@url action="insert" /]">
[#else]
<form id="submitForm" method="post" action="[@url action="update" /]">
<input type="hidden" name="id" value="${(member.id)!0}" />
[/#if]
<table cellspacing="1" cellpadding="0" class="table-line td-left">
	<tr>
		<th class="width130">账号</th>
		<td>
			<input class="easyui-validatebox input-text length200" type="text" name="member.serial" data-options="required:true" value="${(member.serial)!""}" />
		</td>
	</tr>
	<tr>
		<th>姓名</th>
		<td>
			<input class="easyui-validatebox input-text length200" type="text" name="member.name" data-options="required:true" value="${(member.name)!""}" />
		</td>
	</tr>
	<tr>
		<th>密码</th>
		<td>
			<input class="easyui-validatebox input-text length200" type="text" name="member.password" value="[#if empty((member.id)!0)]${_GLOBAL_PARAMETERS_.DEFAULT_PASSWORD}[/#if]" />
		</td>
	</tr>
	<tr>
		<th>排序</th>
		<td>
			<input class="easyui-numberspinner input-text length-percent50" type="text" name="member.sort" data-options="required:true,min:0" value="${(member.sort)!0}" />
		</td>
	</tr>
	<tr>
		<th>组织</th>
		<td>
			<span class="showText">${(organizeText)!""}</span>
			<a href="javascript:void(0);" class="easyui-linkbutton selectOrganize" iconcls="icon-edit" plain="true"></a>
			<input class="selectIds" type="hidden" name="organizeIds" value="${(organizeIds)!""}" />
			<input class="selectText" type="hidden" name="organizeText" value="${(organizeText)!""}" />
		</td>
	</tr>
	<tr>
		<th>角色</th>
		<td>
			<span class="showText">${(roleText)!""}</span>
			<a href="javascript:void(0);" class="easyui-linkbutton selectRole" iconcls="icon-edit" plain="true"></a>
			<input class="selectIds" type="hidden" name="roleIds" value="${(roleIds)!""}" />
			<input class="selectText" type="hidden" name="roleText" value="${(roleText)!""}" />
		</td>
	</tr>
	<tr>
		<th>状态</th>
		<td>
			<input class="input-checkbox" type="checkbox" name="member.status" value="1" [#if 1 == (member.status)!-1]checked="checked"[/#if] />启用
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">重置</a>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">返回</a>
		</td>
	</tr>
</table>
</form>
[#include "../Organize/select.inc.htm"]
[#include "../Role/select.inc.htm"]
<script>
$(function () {
	var password;
	$('#submitForm').form({
		onSubmit : function () {
			password = $('input[name="member.password"]').val();
			if(!Web_empty(password)) {
				$('input[name="member.password"]').val(Web_encodePassword(password));
			}
		},
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
				$('#buttonOk').linkbutton('enable');
				$('input[name="member.password"]').val(password);
			} else {
				Web_redirectPage(data.message);
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		$(this).linkbutton('disable');
		$('#submitForm').submit();
	});
	$('#buttonCancel').bind('click', function () {
		$('#submitForm')[0].reset();
	});
});
</script>