<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<form id="submitForm" method="post" action="[@url action="rePassword" /]">
<table cellspacing="1" cellpadding="0" class="table-line td-left">
	<tr>
		<th class="width130">原密码</th>
		<td>
			<input class="easyui-validatebox input-text width200" type="password" name="oldPassword" data-options="required:true" value="" />
		</td>
	</tr>
	<tr>
		<th class="width130">新密码</th>
		<td>
			<input class="easyui-validatebox input-text width200" type="password" name="newPassword" data-options="required:true" value="" />
		</td>
	</tr>
	<tr>
		<th class="width130">确认密码</th>
		<td>
			<input class="easyui-validatebox input-text width200" type="password" name="rePassword" data-options="required:true" value="" />
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">重置</a>
		</td>
	</tr>
</table>
</form>
<script>
$(function () {
	var oldPassword, newPassword, rePassword;
	$('#submitForm').form({
		onSubmit : function () {
			oldPassword = $('input[name="oldPassword"]').val();
			newPassword = $('input[name="newPassword"]').val();
			rePassword = $('input[name="rePassword"]').val();
			$('input[name="oldPassword"]').val(Web_encodePassword(oldPassword));
			$('input[name="newPassword"]').val(Web_encodePassword(newPassword));
			$('input[name="rePassword"]').val(Web_encodePassword(rePassword));
		},
		success : function (data) {
			data = $.parseJSON(data);
			Web_alertInfo(data.message);
			$('input[name="oldPassword"]').val(oldPassword);
			$('input[name="newPassword"]').val(newPassword);
			$('input[name="rePassword"]').val(rePassword);
			$('#buttonOk').linkbutton('enable');
		}
	});
	$('#buttonOk').bind('click', function () {
		$(this).linkbutton('disable');
		$('#submitForm').submit();
	});
	$('#buttonCancel').bind('click', function () {
		$('#submitForm')[0].reset();
	});
});
</script>