<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<#include "../Public/common.inc.htm">
<#include "../Public/resource.inc.htm">
<div id="win" class="easyui-window" title="权限不足" style="width:300px;height:100px"  
        data-options="iconCls:'icon-key',modal:true,collapsible:false,minimizable:false,maximizable:false,closable:false">  
	<div style="width:100%; height:64px; line-height:64px; text-align:center; vertical-align:middle;">
		若需要更多的访问权限，请联系管理员！
	</div>
</div>