[#-- This page can be include only --]
<div class="hidden">
	<div id="selectMemberDialog" style="width:430px; height:400px;" data-options="buttons:'#selectMemberButton',modal:true,resizable:true">
		<div id="selectMemberTabs" data-options="fit:true,border:false">
			<div title="已选">
				<table id="selectMemberDatagrid" toolbar="#selectMemberToolbar" class="easyui-datagrid" idfield="id" rownumbers="true" fitcolumns="true" fit="true" border="false" nowrap="true">
					<thead>
						<tr>
							<th field="name">名称</th>
						</tr>
					</thead>
				</table>
			</div>
			<div title="组织">
				<div class="easyui-layout" data-options="fit:true,border:false,plain:true">
					<div data-options="region:'west',title:'组织列表',border:false,split:true" class="width240">
						<ul id="selectMemberOrganizeTree" class="margin5" data-options="lines:true"></ul>
					</div>
					<div data-options="region:'center',border:false,split:true">
						<table id="selectMemberDatagridWithOrganize" class="selectMemberDatagrid" idfield="id" fitcolumns="true" fit="true" border="false" nowrap="true" checkonselect="true" selectoncheck="true">
							<thead>
								<tr>
									<th checkbox="true"></th>
									<th field="name">名称</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
			<div title="角色">
				<div class="easyui-layout" data-options="fit:true,border:false,plain:true">
					<div data-options="region:'west',title:'角色列表',border:false,split:true" class="width240">
						<table id="selectMemberRoleTreegrid" rownumbers="true" idfield="id" treefield="name" fitcolumns="true" fit="true" border="false" nowrap="true" singleselect="true">
							<thead>
								<tr>
									<th field="name">名称</th>
								</tr>
							</thead>
						</table>
					</div>
					<div data-options="region:'center',border:false,split:true">
						<table id="selectMemberDatagridWithRole" class="selectMemberDatagrid" idfield="id" fitcolumns="true" fit="true" border="false" nowrap="true" checkonselect="true" selectoncheck="true">
							<thead>
								<tr>
									<th checkbox="true"></th>
									<th field="name">名称</th>
								</tr>
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div> 
	</div>
	<div id="selectMemberButton">
		<a id="buttonSelectMemberOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
		<a id="buttonSelectMemberCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
	</div>
	<div id="selectMemberToolbar" class="controllerBar">
		<a id="buttonReomveSelectMember" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove',plain:true">删除</a>
	</div>
</div>
<script type="text/javascript">
$(function () {
	var selectMemberOrganizeData = null;
	var selectMemberRoleData = null;
	var $selectMemberDatagrid = $('#selectMemberDatagrid');
	var $selectMemberDatagridWithOrganize = $('#selectMemberDatagridWithOrganize');
	var $selectMemberDatagridWithRole = $('#selectMemberDatagridWithRole');
	$('#selectMemberTabs').tabs({ // 采用selectRecord会遍历全部数据，后期需要优化
		onSelect : function (title, index) {
			switch(title) {
			case '已选' :
				$selectMemberDatagrid.datagrid('autoSizeColumn');
				break;
			case '组织' :
				var rows = $selectMemberDatagrid.datagrid('getRows');
				var size = rows.length;
				var idArray = new Array();
				for(var i = 0; i < size; i++) {
					idArray.push(rows[i].id);
				}
				rows = $selectMemberDatagridWithOrganize.datagrid('getRows');
				for(i = 0; i < rows.length; i++) {
					var row = rows[i];
					var index = $selectMemberDatagridWithOrganize.datagrid('getRowIndex', row);
					if(Web_inArray(row.id, idArray)) {
						$selectMemberDatagridWithOrganize.datagrid('selectRow', index);
					} else {
						$selectMemberDatagridWithOrganize.datagrid('unselectRow', index);
					}
				}
				$selectMemberDatagridWithOrganize.datagrid('autoSizeColumn');
				break;
			case '角色' :
				var rows = $selectMemberDatagrid.datagrid('getRows');
				var size = rows.length;
				var idArray = new Array();
				for(var i = 0; i < size; i++) {
					idArray.push(rows[i].id);
				}
				rows = $selectMemberDatagridWithRole.datagrid('getRows');
				for(i = 0; i < rows.length; i++) {
					var row = rows[i];
					var index = $selectMemberDatagridWithRole.datagrid('getRowIndex', row);
					if(Web_inArray(row.id, idArray)) {
						$selectMemberDatagridWithRole.datagrid('selectRow', index);
					} else {
						$selectMemberDatagridWithRole.datagrid('unselectRow', index);
					}
				}
				$('#selectMemberRoleTreegrid').treegrid('autoSizeColumn');
				$selectMemberDatagridWithRole.datagrid('autoSizeColumn');
				break;
			}
		}
	});
	$('#selectMemberOrganizeTree').tree({
		onClick : function (node) {
			$selectMemberDatagridWithOrganize.datagrid({
				url : '${_BASE_.url("member", "list")}?id=' + node.id
			})
		}
	});
	$('#selectMemberRoleTreegrid').treegrid({
		onClickRow : function (rowData) {
			$selectMemberDatagridWithRole.datagrid({
				url : '${_BASE_.url("member", "list")}?id=' + rowData.id
			})
		}
	});
	$('#buttonReomveSelectMember').bind('click', function () {
		var rows = $selectMemberDatagrid.datagrid('getSelections');
		for(i = rows.length - 1; i >= 0; i--) {
			$selectMemberDatagrid.datagrid('deleteRow',
					$selectMemberDatagrid.datagrid('getRowIndex', rows[i]));
		}
	});
	$('.selectMemberDatagrid').datagrid({
		onSelect : function (rowIndex,rowData) {
			var data = $selectMemberDatagrid.datagrid('getData');
			for(i = 0; i < data.rows.length; i++) {
				var row = data.rows[i];
				if(rowData.id == row.id) return ;
			}
			data.rows.push({
				id : rowData.id,
				name : rowData.name
			});
			$selectMemberDatagrid.datagrid('loadData', data);
		},
		onUnselect : function (rowIndex,rowData) {
			var data = $selectMemberDatagrid.datagrid('getData');
			var rowArray = new Array();
			for(i = 0; i < data.rows.length; i++) {
				var row = data.rows[i];
				if(rowData.id != row.id) {
					rowArray.push(row);
				}
			}
			data.total = rowArray.length;
			data.rows = rowArray;
			$selectMemberDatagrid.datagrid('loadData', data);
		},
		onSelectAll : function (rows) {
			for(i = 0; i < rows.length; i++) {
				$(this).datagrid('selectRecord', rows[i].id);
			}
		},
		onUnselectAll : function (rows) {
			for(i = rows.length - 1; i >= 0; i--) {
				$(this).datagrid('unselectRow', $(this).datagrid('getRowIndex', rows[i]));
			}
		},
		onLoadSuccess : function (data) {
			var rows = $selectMemberDatagrid.datagrid('getRows');
			var size = rows.length;
			for(var i = 0; i < size; i++) {
				var row = rows[i];
				$(this).datagrid('selectRecord', row.id);
			}
		}
	});
	$('.selectMember').bind('click', function () {
		var $showText = $(this).parent().find('.showText');
		var $selectIds = $(this).parent().find('.selectIds');
		var $selectText = $(this).parent().find('.selectText');
		$('#selectMemberDialog').dialog({
			title : '选择用户',
			iconCls : 'icon-edit',
			onOpen : function () {
				/* 初始化组织列表 */
				if(null == selectMemberOrganizeData) {
					var rootNode = $('#selectOrganizeTree').tree('getRoot');
					if(null == rootNode) {
						$.getJSON('${_BASE_.url("organize", "list")}',  function (data) {
							selectMemberOrganizeData = data;
						});
					} else {
						selectMemberOrganizeData = new Array(1);
						selectMemberOrganizeData[0] = $('#selectOrganizeTree').tree('getData', rootNode.target);
					}
				}
				$('#selectMemberOrganizeTree').tree('loadData', selectMemberOrganizeData);
				/* 初始化角色列表 */
				if(null == selectMemberRoleData) {
					if($('#selectRoleTreegrid').length > 0) {
						selectMemberRoleData = $('#selectRoleTreegrid').treegrid('getData');
					} else {
						$.getJSON('${_BASE_.url("Role", "list")}',  function (data) {
							selectMemberRoleData = data;
						});
					}
				}
				$('#selectMemberRoleTreegrid').treegrid('loadData', selectMemberRoleData);
				/* 初始化已选用户列表 */
				var data = {
					total : 0,
					rows : []
				};
				var ids = $selectIds.val().split(',');
				var texts = $selectText.val().split(',');
				for(var i = 0; i < ids.length; i++) {
					var id = ids[i];
					if(Web_empty(id)) continue ;
					if(!Web_empty(id)) {
						data.rows.push({
							id : id,
							name : texts[i]
						});
						data.total++;
					}
				}
				$('#selectMemberTabs').tabs('select', '已选');
				$('#selectMemberDatagrid').datagrid('loadData', data);
			}
		});
		$('#buttonSelectMemberOk').unbind('click.selectMember')
			.bind('click.selectMember', function () {
			var rows = $selectMemberDatagrid.datagrid('getRows');
			var ids = '', text = '', size = rows.length;
			for(var i = 0; i < size; i++) {
				var row = rows[i];
				ids += row.id + '';
				text += row.name + '';
				if(i + 1 < size) {
					ids += ',';
					text += ',';
				}
			}
			$showText.html(text);
			$selectIds.val(ids);
			$selectText.val(text);
			$('#selectMemberDialog').dialog('close');
		});
		$('#buttonSelectMemberCancel').unbind('click.selectMember')
			.bind('click.selectMember', function () {
			$('#selectMemberDialog').dialog('close');
		});
	});
});
</script>