<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<form id="submitForm" method="post" action="[@url action="reSelf" /]">
<table cellspacing="1" cellpadding="0" class="table-line td-left">
	<tr>
		<th class="width130">账号</th>
		<td>
			${(member.serial)!""}
		</td>
	</tr>
	<tr>
		<th class="width130">姓名</th>
		<td>
			<input class="easyui-validatebox input-text length200" type="text" name="member.name" data-options="required:true" value="${(member.name)!""}" />
		</td>
	</tr>
	<tr>
		<th class="width130">组织</th>
		<td>
			[#list (member.organizes)![] as organize]
				${organize.name}
				[#if organize_has_next],[/#if]
			[/#list]
		</td>
	</tr>
	<tr>
		<th class="width130">角色</th>
		<td>
			[#list (member.roles)![] as role]
				${role.name}
				[#if role_has_next],[/#if]
			[/#list]
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<a id="buttonOk" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-ok'">确定</a>
			<a id="buttonCancel" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">重置</a>
		</td>
	</tr>
</table>
</form>
<script>
$(function () {
	$('#submitForm').form({
		success : function (data) {
			data = $.parseJSON(data);
			if(data.status) {
				Web_alertInfo(data.message);
				$('#buttonOk').linkbutton('enable');
			} else {
				Web_alertInfo('操作成功！', function () {
					Web_redirectPage(data.message);
				});
			}
		}
	});
	$('#buttonOk').bind('click', function () {
		$(this).linkbutton('disable');
		$('#submitForm').submit();
	});
	$('#buttonCancel').bind('click', function () {
		$('#submitForm')[0].reset();
	});
});
</script>