<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<#include "../Public/common.inc.htm">
<#include "../Public/resource.inc.htm">
<table cellspacing="1" cellpadding="0" class="lineTable tdLeft">
	<tr>
		<th class="width130">账号</th>
		<td>
			${(_ASSIGN_.member.serial)!""}
		</td>
	</tr>
	<tr>
		<th class="width130">姓名</th>
		<td>
			${(_ASSIGN_.member.name)!""}
		</td>
	</tr>
	<tr>
		<th>排序</th>
		<td>
			${(_ASSIGN_.member.sort)!0}
		</td>
	</tr>
	<tr>
		<th>组织</th>
		<td>
			<#list (_ASSIGN_.member.organizes)![] as organize>
				${organize.name}
				<#if organize_has_next>,</#if>
			</#list>
		</td>
	</tr>
	<tr>
		<th>角色</th>
		<td>
			<#list (_ASSIGN_.member.roles)![] as role>
				${role.name}
				<#if role_has_next>,</#if>
			</#list>
		</td>
	</tr>
	<tr>
		<th>状态</th>
		<td>
			${(_ASSIGN_.member.statusText)!""}
		</td>
	</tr>
	<tr>
		<th>活动时间</th>
		<td>
			${millisToDateTime(_ASSIGN_.member.lastActive)}
		</td>
	</tr>
	<tr>
		<th>活动IP</th>
		<td>
			${(_ASSIGN_.member.lastIp)!""}
		</td>
	</tr>
	<tr>
		<th>注册时间</th>
		<td>
			${millisToDateTime(_ASSIGN_.member.registerTime)}
		</td>
	</tr>
	<tr>
		<th>注册IP</th>
		<td>
			${(_ASSIGN_.member.registerIp)!""}
		</td>
	</tr>
	<tr>
		<th>操作</th>
		<td>
			<#if _BASE_.hasPermit("modify")><a href="<@url action="modify" params="?id=${id}" />" class="easyui-linkbutton" data-options="iconCls:'icon-edit'">修改</a></#if>
			<#if _BASE_.hasPermit("delete")><a id="buttonDelete" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-remove'">删除</a></#if>
			<#if _PARAMETERS_.back??>
			<a href="javascript:void(0);" onclick="Web_redirectPage(-1);" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">返回</a>
			</#if>
		</td>
	</tr>
</table>
<script>
$(function () {
	$('#buttonDelete').bind('click', function () {
		var $buttonDelete = $(this);
		$buttonDelete.linkbutton('disable');
		var url = '<@url action="delete" params="?id=${id}" />';
		$.getJSON(url, function (data) {
			if(data.status) {
				Web_alertInfo(data.message);
				$('#buttonDelete').linkbutton('enable');
			} else {
				var tab = window.parent.parent.$('#platformTabs').tabs('getSelected');
				tab.panel('refresh');
			}
		});
	});
});
</script>