<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="js-list-table"></table>
<div id="toolbar">
	[#if _BASE_.hasPermit("edit")]<a href="${_BASE_.url("edit")}" class="easyui-linkbutton js-control-add" data-options="iconCls:'icon-add',plain:true">添加顶级节点</a>[/#if]
</div>
<script type="text/javascript">
$(function () {
	$('.js-list-table').treegrid({
		url : '${_BASE_.url("list")}?collapse=1',
		idField : 'id',
		treeField : 'name',
		toolbar : '#toolbar',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',title:'ID'},
			{field:'name',title:'名称'},
			{field:'sort',title:'排序'},
			{field:'module',title:'模块'},
			{field:'controller',title:'控制器'},
			{field:'action',title:'方法'},
			{field:'refer_id',title:'引用'},
			{field:'menu_list_enable',title:'菜单列',align:'center',formatter:function (value, row, index) {
				return 1 == value ? '是' : '否';
 			}},
 			{field:'menu_pick_enable',title:'可选取',align:'center',formatter:function (value, row, index) {
				return 1 == value ? '是' : '否';
 			}},
 			{field:'menu_enable',title:'菜单项',align:'center',formatter:function (value, row, index) {
				return 1 == row.menu_list_enable && 1 == row.menu_pick_enable ? '是' : '否';
 			}},
			{field:'status_text',title:'状态'},
			{field:'update_id',title:'修改者',formatter:function (value, row, index) {
				if(!row.update_id_rel) return '';
				return '[' + row.update_id_rel.serial + ']' + row.update_id_rel.name;
			}},
			{field:'update_time',title:'修改时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '[#if _BASE_.hasPermit("show")]<a href="${_BASE_.url("show")}?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-detail\'">查看</a>[/#if]'
					+ '[#if _BASE_.hasPermit("edit")]<a href="${_BASE_.url("edit")}?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-edit\'">修改</a>[/#if]'
					+ '[#if _BASE_.hasPermit("delete")]<a href="${_BASE_.url("delete")}?ids='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-remove\'">删除</a>[/#if]';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-button').linkbutton({plain : true});
			$(this).datagrid('autoSizeColumn', 'operate');
		},
		onSelect : function (row) {
			$('.js-control-add').attr('href', '${_BASE_.url("edit")}?parentId=' + row.id);
			$('.js-control-add').linkbutton({text:'添加下级节点'});
		}
	});
});
</script>