[#-- This page can be include only --]
<link href="${_webUrl_}/api/jQuery/EasyUI/themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="${_webUrl_}/api/jQuery/EasyUI/themes/icon.css" rel="stylesheet" type="text/css" />
<link href="${_themeUrl_}/css/main.css" rel="stylesheet" type="text/css" />
<link href="${_webUrl_}/files/work/icon.auto.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${_webUrl_}/api/jQuery/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="${_webUrl_}/api/jQuery/EasyUI/jquery.easyui.min.js"></script>
<script type="text/javascript" src="${_webUrl_}/api/jQuery/EasyUI/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="${_webUrl_}/api/jQuery/jquery-jtemplates.min.js"></script>
<script type="text/javascript">
	var Web_pageSize = parseInt('${_pageSize_}');
	var Web_projectUrl = '${_webUrl_}';
	var Web_skinUrl = '${_skinUrl_}';
	var Web_themeUrl = '${_themeUrl_}';
	var Web_dateTimeFormat = '${_config_.dateTimeFormat}';
	Web_dateTimeFormat = Web_dateTimeFormat.replace('HH', 'hh');
	
	function Web_formatDateTime(dateVal) {
		if(!dateVal) return '';
		var dateObj = new Date(dateVal);
		return dateObj.format(Web_dateTimeFormat);
	}
	
	function Web_fullUrl(url) {
		var regexUrl = /^[a-zA-Z]+:\/\/.+/;
		url = $.trim(url);
		if(Web_empty(url) || null != url.match(regexUrl)) return url;
		return Web_projectUrl + ('/' == url.substring(0, 1) ? '' : '/') + url;
	}
</script>
<script type="text/javascript" src="${_themeUrl_}/script/code.js"></script>
<script type="text/javascript" src="${_themeUrl_}/script/main.js"></script>