<!DOCTYPE html>
[#include "../public/common.inc.htm"]
[#include "../public/resource.inc.htm"]
<table class="js-list-table"></table>
<div id="toolbar">
	[#if _BASE_.hasPermit("delete")]<a href="javascript:void(0);" class="easyui-linkbutton js-control-delete" data-options="iconCls:'icon-remove',plain:true">批量删除</a>[/#if]
	[#if _BASE_.hasPermit("truncate")]<a href="${_BASE_.url("truncate")}" class="easyui-linkbutton" data-options="iconCls:'icon-truncate',plain:true">清空</a>[/#if]
	[#if _BASE_.hasPermit("editSetting")]<a href="${_BASE_.url("editSetting")}" class="easyui-linkbutton" data-options="iconCls:'icon-setting',plain:true">设置参数</a>[/#if]
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-search" data-options="iconCls:'icon-search',plain:true">搜索</a>
</div>
<script type="text/javascript">
$(function () {
	$('.js-list-table').datagrid({
		url : '${_BASE_.url("list")}',
		pagination : true,
		idField : 'id',
		toolbar : '#toolbar',
		rownumbers : true,
		fitcolumns : true,
		fit : true,
		nowrap : true,
		singleSelect : true,
		checkOnSelect : false,
		selectOnCheck : false,
		columns:[[
			{field:'id',checkbox:true},
			{field:'show_id',title:'ID',formatter:function (value, row, index) {
				return row.id;
			}},
			{field:'name',title:'名称'},
			{field:'type',title:'类型'},
			{field:'module',title:'模块'},
			{field:'controller',title:'控制器'},
			{field:'action',title:'方法'},
			{field:'session_id',title:'会话ID'},
			{field:'operate_id',title:'操作者',formatter:function (value, row, index) {
				if(!row.operate_id_rel) return '';
				return '[' + row.operate_id_rel.serial + ']' + row.operate_id_rel.name;
			}},
			{field:'operate_ip',title:'IP'},
			{field:'operate_time',title:'操作时间',formatter:function (value, row, index) {
				return Web_formatDateTime(value);
			}},
			{field:'operate',title:'操作',formatter:function (value, row, index) {
				return '[#if _BASE_.hasPermit("show")]<a href="${_BASE_.url("show")}?id='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-detail\'">查看</a>[/#if]'
					+ '[#if _BASE_.hasPermit("delete")]<a href="${_BASE_.url("delete")}?ids[]='
					+ row.id + '" class="js-list-button" data-options="iconCls:\'icon-remove\'">删除</a>[/#if]';
			}}
		]],
		onLoadSuccess : function (data) {
			$('.js-list-button').linkbutton({plain : true});
			$(this).datagrid('autoSizeColumn', 'operate');
		}
	});
	
	$('.js-control-delete').bind('click', function () {
		var ids = Web_getDatagridIdArray($('.js-list-table'), 'checked');
		var length = ids.length;
		if(length < 1) {
			Web_alertInfo('请选择要删除的记录！');
			return ;
		}
		for(var i = 0; i < length; i++) {
			ids[i] = 'ids[]=' + ids[i];
		}
		var url = '${_BASE_.url("delete")}?' + ids.join('&');
		Web_redirectPage(url);
	});
});
</script>
<div class="hidden">
<div id="js-search-dialog" style="width:255px;height:372px" data-options="buttons:'#js-search-button',modal:true,resizable:true">
<form id="searchForm" method="post" action="">
<table align="center" class="table-horizontal tr-height25">
	<tr>
		<th>开始时间</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeStart" value="" /></td>
	</tr>
	<tr>
		<th>结束时间</th>
		<td><input class="easyui-datetimebox width150" type="text" name="timeEnd" value="" /></td>
	</tr>
	<tr>
		<th>名称</th>
		<td><input class="easyui-textbox width150" type="text" name="name" value="" /></td>
	</tr>
	<tr>
		<th>类型</th>
		<td><input class="easyui-textbox width150" type="text" name="type" value="" /></td>
	</tr>
	<tr>
		<th>模块</th>
		<td><input class="easyui-textbox width150" type="text" name="module" value="" /></td>
	</tr>
	<tr>
		<th>控制器</th>
		<td><input class="easyui-textbox width150" type="text" name="controller" value="" /></td>
	</tr>
	<tr>
		<th>方法</th>
		<td><input class="easyui-textbox width150" type="text" name="action" value="" /></td>
	</tr>
	<tr>
		<th>会话ID</th>
		<td><input class="easyui-textbox width150" type="text" name="sessionId" value="" /></td>
	</tr>
	<tr>
		<th>操作账号</th>
		<td><input class="easyui-textbox width150" type="text" name="serial" value="" /></td>
	</tr>
	<tr>
		<th>操作IP</th>
		<td><input class="easyui-textbox width150" type="text" name="operateIp" value="" /></td>
	</tr>
</table>
</form>
</div>
<div id="js-search-button">
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-ok" data-options="iconCls:'icon-search'">搜索</a>
	<a href="javascript:void(0);" class="easyui-linkbutton js-control-cancel" data-options="iconCls:'icon-cancel'">取消</a>
</div>
</div>
<script type="text/javascript">
$(function () {
	var $searchDialog = $('#js-search-dialog');
	$('.js-control-search').bind('click', function () {
		$searchDialog.dialog({
			title : '筛选条件',
			iconCls : 'icon-search'
		});
	});
		
	$('#js-search-button').find('.js-control-ok').unbind('click.action').bind('click.action' ,function () {
		$('.js-list-table').datagrid('load', $('#searchForm').form('getData'));
		$searchDialog.dialog('close');
	});
	$('#js-search-button').find('.js-control-cancel').unbind('click.action').bind('click.action' ,function () {
		$searchDialog.dialog('close');
	});
});
</script>